*{
  scroll-behavior: smooth;
}

body{
  font-family: 'Big Shoulders Text', cursive;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  text-decoration: none;
}

header{
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  /* text-align: center; */
  /* background-image: linear-gradient(red, yellow); */
  /* background-color: black; */
  margin: 0px;
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 40px;
}

.stayLeft{
  position: absolute;
  left: 0px;
}

.makeCenter{
  position: absolute;
  top: 0;
  display: inline;
  text-align: center;
  width:100%;
  margin: 0px;
}

.makeCenter p{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  color: white;
  font-size: 22px;
}

.containerFK{
  margin:0px;
   background-color: #0000b3;
  /* background-image: linear-gradient(#0000b3, lightblue); */
  /*background-color:  #80bfff;*/
  /* max-height: 440px; */
  position: relative;
}

.rucontainer{
  margin: auto;
  width: 80%;
  /* border: 2px solid black; */
  /* height: 500px; */
}

.rucontainer p{
  letter-spacing: 3px;
  /* font-family:'Russo One', sans-serif; */
  /* color: #b4ff46; */
  cursor: default
  /* padding: 0px;
  margin: 0px; */
}

.rucontainer iframe{
  width: 80%;
  height:500px;
  /* background-color: black; */
  /* padding: 15px; */
  margin: 15px;
  margin-top: 25px;
  /* height: 300px; */
}

.containerFK-lti{
  margin:0px;
   /*background-color: #0000b3;*/
   background-image: linear-gradient(#0000b3, lightblue);
  /*background-color:  #80bfff;*/
  /* max-height: 440px; */
  position: relative;
}

.marquee-lti{
    color: red;
    margin: 10px;
    font-size: 30px;
    padding-top: 40px;
}

.FaisalKhan{
  margin:auto;
  /* margin-top: 100px; */
  text-align: center;
  width: 80%;
  text-shadow: 1.7px 1.7px black;
  /* margin-bottom: 25px; */
  padding-bottom: 15px;
}

.resultTableContainer{
    padding-inline-start: 0px;
    margin: auto;
}

.resultTable{
    margin: auto;
    width: 100%;
}

.resultTable th{
    max-width = "19%";
}

.resultTable td{
    text-align: center;
}

.FaisalKhan a{
  text-decoration: none;
  color: white;
}

.faisalKhanjpg{
  background-color: white;
  border-radius: 50%;
  /*border-radius: 50%;*/
  width: 200px;
  margin: 10px;
  /* display: block; */
  margin-top: 100px;
  border: 5px solid black;
}

.FaisalKhan p{
  cursor: default;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  margin: 0px;
}

.makebold{
  font-weight: bold;
  font-size: 40px;
}

.icons{
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
}

.icons a{
  display: inline-block;
  padding: 0;

}

.icons img{
  height: 30px;
}

.job4uLogo a{
  height: 30px;
  width: 90px;
  display: inline-block;
  padding: 0;
}

.header-right{
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
}

.container1{
  text-align: center;
  width: 80%;
  /* background-image: linear-gradient(#0000b3, lightblue); */
  margin: auto;
  /*padding-top: 45px;*/
}

.container1 h3{
  color: white;
  cursor: default;
  display: block;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 0px;
  padding-bottom: 35px;
  text-shadow: 1.7px 1.7px black;
  /* margin-bottom: 50px; */
  /* background-image: linear-gradient(darkblue, lightblue); */
  font-size: 22px;
}

.container1 h2{
  color: white;
  cursor: default;
  display: block;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 0px;
  padding-bottom: 20px;
  text-shadow: 1.7px 1.7px black;
  /* margin-bottom: 50px; */
  /* background-image: linear-gradient(darkblue, lightblue); */
  font-size: 22px;
}

.container1-lti{
  text-align: center;
  width: 80%;
  /* background-image: linear-gradient(#0000b3, lightblue); */
  margin: auto;
  /*padding-top: 45px;*/
}

.container1-lti h3{
  color: black;
  cursor: default;
  display: block;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 0px;
  padding-bottom: 35px;
  /*text-shadow: 1.7px 1.7px black;*/
  /* margin-bottom: 50px; */
  /* background-image: linear-gradient(darkblue, lightblue); */
  font-size: 22px;
}

.container1-lti h2{
  color: black;
  cursor: default;
  display: block;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin: 0px;
  padding-bottom: 20px;
  /*text-shadow: 1.7px 1.7px black;*/
  /* margin-bottom: 50px; */
  /* background-image: linear-gradient(darkblue, lightblue); */
  font-size: 22px;
}

.backgroundContainer{
  width: 100%;
   background-image: linear-gradient(#0000b3, #80bfff);
  /*background-image: linear-gradient( #80bfff, #0000b3);*/

}
.backgroundContainer1{
  /*width: 100%;*/
  /* background-image: linear-gradient(#0000b3, #80bfff);*/
  /*background-image: linear-gradient( #80bfff, #0000b3);*/

}

.companyLogo{
  /* width: 250px; */
  width: auto;
  height: 200px;
  /* height: auto; */
}

.companyLogolti{
  /* width: 250px; */
  width: 300px;
  height: 150px;
  background-color: white;
  /* height: auto; */
}

#formStart img{
  margin-top: 50px;
  border-radius: 50%;
}

#formStart1 img{
  margin-top: 50px;
  /*border-radius: 50%;*/
}

.companyLogolti{
  /* width: 250px; */
  width: 300px;
  height: 200px;
  background-color: white;
  /* height: auto; */
}

.container{
  margin: auto;
  /* background-color: lightblue; */
  /* margin-top: 50px; */
  text-align: center;
  width: 100%;
}

.container img{
  width: 45%;
}

.image1{
  display: inline-block;
  /* float: left; */
  /* width: 700px; */
  padding: 10px;
}

.image1 img{
  /*height: 500px;*/
  height: auto;
  width: 840px;
  /*width: auto;*/
}

.image2{
  display: inline-block;
  /* float: left; */
  /* width: 700px; */
  padding: 10px;
}

.image2 img{
  /*height: 500px;*/
  height: auto;
  width: 750px;
  /*width: auto;*/
}

.image1-lti{
  display: inline-block;
  /* float: left; */
  /* width: 700px; */
  padding: 10px;
}

.image1-lti img{
  /*height: 500px;*/
  height: 600px;
  width: 840px;
  /*width: auto;*/
}

.image2-lti{
  display: inline-block;
  /* float: left; */
  /* width: 700px; */
  padding: 10px;
}

.image2-lti img{
  /*height: 500px;*/
  height: 600px;
  width: 750px;
  /*width: auto;*/
}

.clear{
  clear: both;
}

.container2{
  margin: auto;
  /* background-color: lightblue; */
  text-align: center;
  width: 100%;
  /*max-height: 2369px;*/
}

.container2 iframe{
  margin-top: 80px;
  overflow-y: hidden;
  /*width: 1200px;*/
}

.linkForm{
    position: fixed;
    bottom: 30px;
    right: 15px;
}

.linkForm a{
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  color: white;
  border-radius: 25px;
  background-color: rgba(255, 0, 0, 0.6);
}

.linkForm a:hover{
  background-color: rgba(255, 0, 0, 1);
}

footer{
  padding: 15px;
  text-align: center;
  background: white;
}

footer a{
  color: black;
}

@media(max-width: 770px){

  .container img{
    width: 100%;
    /*width: auto;*/
  }

  .image1 img{
      width: 100%;
      /*width: auto;*/
      /*height: 550px;*/
      height: auto;
  }

  .image2 img{
      width: 100%;
      /*width: auto;*/
      /*height: 550px;*/
      height: auto;
  }


  .image1-lti img{
      width: 100%;
      /*width: auto;*/
      /*height: 550px;*/
      height: auto;
  }

  .image2-lti img{
      width: 100%;
      /*width: auto;*/
      /*height: 550px;*/
      height: auto;
  }

  .container2 iframe{
    width: 100%;
  }

  .makeCenter span{
    display: none;
  }

  .makeCenter p:after{
    /* content */
    content: "APSIT";
    font-size: 25px;
  }

  .icons{
    margin-right: 5px;
  }

 .linkForm{
    position: fixed;
    bottom: 10px;
    right: 0px;
 }

 .linkForm a{
  font-size: 15px;
  padding: 10px;
  color: white;
 }

 .marquee-lti{
    color: red;
    font-size: 24px;
    padding-top: 40px;
 }

 .faisalKhanjpg{
    width: 150px;
 }

 .resultTable p{
    padding: 0px;
    font-size: 12px;
 }

 .resultTable td{
    padding: 0px;
    font-size: 12px;
 }

}
