body{
  font-family:Arial, Helvetica, sans-serif ;
   padding:30px;
   background-color:#FFF;
}

.container{
  margin: auto;
  text-align: center;
  width: 100%;
}

.image1-lti{
  display: inline-block;
  /* float: left; */
  /* width: 700px; */
  /*padding: 10px;*/
}

.quali{
    width: 300px;
    padding: 10px;
    background-color: white;
    border: 2px black solid;
}

.radioButton{
   width: 100px;
   margin-top: 15px;
   font-size: 16px;
   font-weight: bold;
   font-family: 'Source Sans Pro', sans-serif;
   height: 30px;
}

.image1-lti img{
  /*height: 500px;*/
  height: 400px;
  width: 600px;
  /*width: auto;*/
}

.container img{
  width: 200px;
  height: 200px;
  /*margin-left: 50%;*/
  margin-bottom: 2.0em;
}

.onlyCenter{
  text-align: center;
  display: block;
  margin-bottom: 1.6em;
}

.companyName{
  margin-bottom: 2.5em;
}

.floatLeft{
  margin-top: 7px;
  /*margin-left: 20px;*/
  float: left;
}

.floatRight{
  margin-top: 7px;
  /*margin-left: 20px;*/
  float: right;
}

.center{
	text-align: center;
}

.borderAP{

	display: inline-block;
	padding:25px;
	border: 1px solid #807d75;
	border-radius: 20px;
	text-align: center;
	margin-right: 30px;
	margin-bottom: 30px;
}



.borderAP h2{
	display: inline-block;
	margin-bottom: 25px;
}


.button1{

background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 11px 28px;
margin-bottom: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

.button2{
  background-color: Red; /* Red */
  border: none;
  color: white;
  padding: 11px 28px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button3{

background-color: #4885ed; /* Green */
border: none;
color: white;
padding: 11px 28px;
margin-bottom: 15px;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

.button4{
  background-color: white; /* Red */
  border: 1px solid #000;
  color: blue;
  padding: 11px 28px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.clear1{
  clear:both;
}

.box input[type = "text"], input[type = "email"],input[type = "number"]{
    text-align: center;
    border: 2px solid black;
    padding: 7px 5px;
    width: 300px;
    outline: none;
    border-radius: 0px;
    transition: 0.25s;
}


.box input[type = "text"]:focus{
    width: 400px;
    border-color: #2ecc71;
}

.box input[type = "email"]:focus{
    width: 400px;
    border-color: #2ecc71;
}

.box input[type = "number"]:focus{
    width: 400px;
    border-color: #2ecc71;
}

.box{
    padding:20px;
}

.redColor{
    color: red;
}

@media(max-width:670px){
	.floatLeft{
    float: none;
    display: block;
  }

  .floatRight{
    float: none;
    display: block;
  }

  .onlyCenter{
    text-align: left;
  }

  .quali{
    max-width: 220px;
  }

.radioButton{
   width: 100px;
   margin-top: 15px;
   font-size: 20px;
   font-family: 'Source Sans Pro', sans-serif;
   height: 30px;
}

.box input[type = "text"], input[type = "email"],input[type = "number"]{
    width: 220px;
}

.box input[type = "text"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "number"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.container img{
    width: 150px;
    height: 150px;
}

.container h2{
    font-size: 25px;
}

}

