{% extends "tpo/base.html"%}
{% block title %}Administration Panel{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
		{% if user.is_authenticated %}
			{% if messages %}
	    {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
			{{ message }}
	</div>
	    {% endfor %}
			{% endif %}
    </div>
		<div>

            <div class = "borderAP">
    			<h2>Capgemini 20 November</h2>
    			<form action="cap20novdb" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

            <div class = "borderAP">
    			<h2>LTI 11 November</h2>
    			<form action="lti20novdb" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

            <div class = "borderAP">
    			<h2>Virtusa 2 November</h2>
    			<form action="virtusadb" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

            <div class = "borderAP">
    			<h2>Zycus 22 October</h2>
    			<form action="zycusdb" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

            <div class = "borderAP">
    			<h2>Infosys 16 October</h2>
    			<form action="infosysdb16" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

            <div class = "borderAP">
    			<h2>Infosys 15 October</h2>
    			<form action="infosysdb15" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

            <div class = "borderAP">
    			<h2>IBM 7 October</h2>
    			<form action="ibmdb7" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>



            <div class = "borderAP">
    			<h2>IBM 6 October</h2>
    			<form action="ibmdb" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

			<div class = "borderAP">
    			<h2>A 1 Salasar</h2>

    			<form action="a_1_Salasardb" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
			</div>

            <div class = "borderAP">
    			<h2>LTI</h2>

    			<form action="ltidb" method="POST">
    			{% csrf_token %}
    			<input class = "button3" type="submit" value="View Database"  />
    			</form>
    			</div>

			<!--<div class = "borderAP">-->
   <!-- 			<h2>Headstrait</h2>-->
   <!-- 			<form method ="POST">-->
   <!-- 			{% csrf_token %}-->
   <!-- 			<button class="button3" type="submit" name="email_headstrait_db">Email database</button>-->
   <!-- 			</form>-->
   <!-- 			<form action="headstraitdb" method="POST">-->
   <!-- 			{% csrf_token %}-->
   <!-- 			<input class = "button4" type="submit" value="View Database" name="view_headstrait_db" />-->
   <!-- 			</form>-->
			<!--</div>-->




  	</div>

  		{% else %}
  		<form action="administrator/" method="POST">
  		{% csrf_token %}
		<input class = "button2" type="submit" value="Log in first" name="Submit" />
		</form>

  		{% endif %}
{% endblock content %}
