{% extends "tpo/base.html"%}
{% block title %}Administration Panel{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
		{% if user.is_authenticated %} 
			{% if messages %}
	    {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
			{{ message }}
	</div>
	    {% endfor %}
			{% endif %}
			
		<div class = "center">
		
			<div class = "borderAP">
			<h2>Company Name 1</h2>
			<form method ="POST">
			{% csrf_token %}
			<button class="button3" type="submit" name="email_database">Email database</button>
			</form>
			<form action="database" method="POST">
			{% csrf_token %}
			<input class = "button4" type="submit" value="View Database" name="view_database" />
			</form>
			</div>
			
			<div class = "borderAP">
			<h2>Company Name 2</h2>
			<form method ="POST">
			{% csrf_token %}
			<button class="button3" type="submit" name="email_database">Email database</button>
			</form>
			<form action="database" method="POST">
			{% csrf_token %}
			<input class = "button4" type="submit" value="View Database" name="view_database" />
			</form>
			</div>
			
		</div>
		
  		</div>
  	</div>
  		
  		{% else %}
  		<form action="administrator/" method="POST">
  		{% csrf_token %}
		<input class = "button2" type="submit" value="Log in first" name="Submit" />
		</form>	
  		
  		{% endif %} 
{% endblock content %}
