{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Css File links -->
    <!--<link rel="stylesheet" href="InfosysRegistration.css">-->
    <link rel="stylesheet" href="{% static 'tpo/infosys.css'%}">

    <!-- Javascript File links -->
    <!--<script src="main.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js "></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js "></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->


    <!-- Google Fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


    <title>job4u.info</title>

  </head>

  <body>

    <header>
      <img  class = "stayLeft" src="{% static 'tpo/job4u.png'%}" alt="JOB4U-Logo">
      <div class="makeCenter"><p><span>A. P. SHAH INSTITUTE OF TECHNOLOGY</span></p></div>
      <div class="header-right">
<div class = "icons"><a href="https://www.facebook.com/tpoApsit/" target="_blank"><img src="{% static 'tpo/iconfinder_f-facebook_256_282470.png'%}" alt="Facebook"></a></div>
        <div class = "icons"><a href="https://www.instagram.com/job4u_info/" target="_blank"><img src="{% static 'tpo/iconfinder_Instagram_1298747.png'%}" alt="Instagram"></a></div>
    <div class = "icons"><a href="https://twitter.com/u_job4" target="_blank"><img src="/static/tpo/Images/iconfinder_twitter_834708.png" alt="Twitter"></a></div>
        <div class = "icons"><a href="https://www.linkedin.com/in/apsitthane/" target="_blank"><img src="{% static 'tpo/iconfinder_linkedin_386655.png'%}" alt="LinkedIn"></a></div>
      </div>
      <!-- <img class = "floatRight" src="APSIT.png" alt="APSIT-LOGO"> -->
    </header>

    <div class="containerFK">

      <div class="FaisalKhan">
        <img  class = "faisalKhanjpg" src="{% static 'tpo/faisalsir.jpg'%}" alt="Faisal Khan">
        <p><a href="https://www.instagram.com/job4u_info/" target="_blank"><span class = "makebold">Faisal Khan</span></a></p>
        <p> Head Placement Officer, APSIT</p>
        <p>Joint Secretary, MATPO</p>
        <!--<p>2020 Batch</p>-->
        <!-- <img class = "apsitlogo" src="APSIT (1).png" alt="APSIT-LOGO"> -->
      </div>

    </div>

  <div class="backgroundContainer">


    <!--<div class="container1" id = "formStart">-->

    <!--    <img class = "companyLogo" src="{% static 'tpo/capgemini.png'%}" alt="Company Name">-->
    <!--</div>-->

<div class="FaisalKhan">
<p>Results of 20-21 November Capgemini Drive </p></div>


 </div>
<!--<h2>Slot 1 Aptitude Results:</h2>-->
 <ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr >
				<th><p><font face="Arial" color="#000000">Sr. No.</font></p></th>
				<!--<th><p>Title</p></th>-->
				<th><p><font face="Arial" color="#000000">Name</font></p></th>
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<th><p><font face="Arial" color="#000000">College Name</font></p></th>

			</tr>
    	</thead>
    	<tbody>

<tr>
		<td height="25" align="center" valign=bottom sdval="1" sdnum="16393;"><font color="#000000">1</font></td>
		<td align="center" valign=middle><font color="#000000">Aakashkumar Surendrakumar Dubey</font></td>
		<td align="center" valign=middle><font color="#000000">Royal college of arts science and commerce</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="2" sdnum="16393;"><font color="#000000">2</font></td>
		<td align="center" valign=middle><font color="#000000">Abdulhannan Shaikh</font></td>
		<td align="center" valign=middle><font color="#000000">Ramniranjan Jhunjhunwala College</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="3" sdnum="16393;"><font color="#000000">3</font></td>
		<td align="center" valign=middle><font color="#000000">Abdulhaq Patel</font></td>
		<td align="center" valign=middle><font color="#000000">S. K. Somaiya College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="4" sdnum="16393;"><font color="#000000">4</font></td>
		<td align="center" valign=middle><font color="#000000">Aditya Srivastava</font></td>
		<td align="center" valign=middle><font color="#000000">Kishanchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="5" sdnum="16393;"><font color="#000000">5</font></td>
		<td align="center" valign=middle><font color="#000000">Afeeda Abdul Hameed</font></td>
		<td align="center" valign=middle><font color="#000000">JAI HIND COLLEGE</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="6" sdnum="16393;"><font color="#000000">6</font></td>
		<td align="center" valign=middle><font color="#000000">Akshata Anil Yadav</font></td>
		<td align="center" valign=middle><font color="#000000">Smt Kastubai Walchand College</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="7" sdnum="16393;"><font color="#000000">7</font></td>
		<td align="center" valign=middle><font color="#000000">Akshata Arvind Parab</font></td>
		<td align="center" valign=middle><font color="#000000">V.G.Vaze College</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="8" sdnum="16393;"><font color="#000000">8</font></td>
		<td align="center" valign=middle><font color="#000000">Akshay Ashok Utekar</font></td>
		<td align="center" valign=middle><font color="#000000">K.J.Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="9" sdnum="16393;"><font color="#000000">9</font></td>
		<td align="center" valign=middle><font color="#000000">Alvin Raja Noah Nadar</font></td>
		<td align="center" valign=middle><font color="#000000">SIES College of arts science &amp; Commerce (Autonomous) Sion (W)</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="10" sdnum="16393;"><font color="#000000">10</font></td>
		<td align="center" valign=middle><font color="#000000">Amol Sandip Bhowad</font></td>
		<td align="center" valign=middle><font color="#000000">K. J. Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="11" sdnum="16393;"><font color="#000000">11</font></td>
		<td align="center" valign=middle><font color="#000000">Anam Khan</font></td>
		<td align="center" valign=middle><font color="#000000">Royal College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="12" sdnum="16393;"><font color="#000000">12</font></td>
		<td align="center" valign=middle><font color="#000000">Angelica Maria Dias</font></td>
		<td align="center" valign=middle><font color="#000000">S.I.E.S. College</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="13" sdnum="16393;"><font color="#000000">13</font></td>
		<td align="center" valign=middle><font color="#000000">Anil Amrutlal Vishwakarma</font></td>
		<td align="center" valign=middle><font color="#000000">VIVA COLLEGE OF ARTS, COMMERCE, AND SCIENCE</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="14" sdnum="16393;"><font color="#000000">14</font></td>
		<td align="center" valign=middle><font color="#000000">Anisha Rajendra Sharma</font></td>
		<td align="center" valign=middle><font color="#000000">B. K. Birla College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="15" sdnum="16393;"><font color="#000000">15</font></td>
		<td align="center" valign=middle><font color="#000000">Anjali Datta Patil</font></td>
		<td align="center" valign=middle><font color="#000000">B.K.Birla College of arts,Science and commerce</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="16" sdnum="16393;"><font color="#000000">16</font></td>
		<td align="center" valign=middle><font color="#000000">Annapurna Narottam Chandela</font></td>
		<td align="center" valign=middle><font color="#000000">Ramniranjan Jhunjhunwala college</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="17" sdnum="16393;"><font color="#000000">17</font></td>
		<td align="center" valign=middle><font color="#000000">Anuja Santoshkumar Panda</font></td>
		<td align="center" valign=middle><font color="#000000">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="18" sdnum="16393;"><font color="#000000">18</font></td>
		<td align="center" valign=middle><font color="#000000">Archana Rahulan</font></td>
		<td align="center" valign=middle><font color="#000000">B.K BIRLA COLLEGE</font></td>
	</tr>
	<tr>
		<td height="25" align="center" valign=bottom sdval="19" sdnum="16393;"><font color="#000000">19</font></td>
		<td align="center" valign=middle><font color="#000000">Ashi Anil Jaiswal</font></td>
		<td align="center" valign=middle><font color="#000000">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="20" sdnum="16393;"><font color="#000000">20</font></td>
		<td align="center" valign=middle><font color="#000000">Ashita Haresh Udhani</font></td>
		<td align="center" valign=middle><font color="#000000">Smt. Chandibai Himathmal Mansukhani college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="21" sdnum="16393;"><font color="#000000">21</font></td>
		<td align="center" valign=middle><font color="#000000">Ashmann Singh Arora</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College(Mumbai University)</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="22" sdnum="16393;"><font color="#000000">22</font></td>
		<td align="center" valign=middle><font color="#000000">Atharva Anil Jadhav</font></td>
		<td align="center" valign=middle><font color="#000000">Royal College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="23" sdnum="16393;"><font color="#000000">23</font></td>
		<td align="center" valign=middle><font color="#000000">Chaitanya Sukant Javadekar</font></td>
		<td align="center" valign=middle><font color="#000000">B. K. Birla College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="24" sdnum="16393;"><font color="#000000">24</font></td>
		<td align="center" valign=middle><font color="#000000">Darshan Ghanshyam Malvi</font></td>
		<td align="center" valign=middle><font color="#000000">K.E.S Shroff College Kandivali(W)</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="25" sdnum="16393;"><font color="#000000">25</font></td>
		<td align="center" valign=middle><font color="#000000">Darshan Jain</font></td>
		<td align="center" valign=middle><font color="#000000">K.E.S. Shroff College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="26" sdnum="16393;"><font color="#000000">26</font></td>
		<td align="center" valign=middle><font color="#000000">Deepak Murugan Naidu</font></td>
		<td align="center" valign=middle><font color="#000000">KJ SOMAIYA COLLEGE OF SCIENCE &amp; COMMERCE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="27" sdnum="16393;"><font color="#000000">27</font></td>
		<td align="center" valign=middle><font color="#000000">Devendra Vinod Lokhande</font></td>
		<td align="center" valign=middle><font color="#000000">St. John College of Humanities &amp; Sciences</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="28" sdnum="16393;"><font color="#000000">28</font></td>
		<td align="center" valign=middle><font color="#000000">Dhanashree Sakharam Lohar</font></td>
		<td align="center" valign=middle><font color="#000000">B.K.Birla college of arts science and commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="29" sdnum="16393;"><font color="#000000">29</font></td>
		<td align="center" valign=middle><font color="#000000">Dipen Ramesh Tamhankar</font></td>
		<td align="center" valign=middle><font color="#000000">Viva college of arts commerce and science</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="30" sdnum="16393;"><font color="#000000">30</font></td>
		<td align="center" valign=middle><font color="#000000">Ekta Sollet</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="31" sdnum="16393;"><font color="#000000">31</font></td>
		<td align="center" valign=middle><font color="#000000">Fawwaz Parvez Chiwne</font></td>
		<td align="center" valign=middle><font color="#000000">B.K. Birla College (Autonomous)</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="32" sdnum="16393;"><font color="#000000">32</font></td>
		<td align="center" valign=middle><font color="#000000">Gupta Vidyasagar Surendra</font></td>
		<td align="center" valign=middle><font color="#000000">Thakur college of science and commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="33" sdnum="16393;"><font color="#000000">33</font></td>
		<td align="center" valign=middle><font color="#000000">Himanshu Chaurasia</font></td>
		<td align="center" valign=middle><font color="#000000">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="34" sdnum="16393;"><font color="#000000">34</font></td>
		<td align="center" valign=middle><font color="#000000">Himanshu Vishwakarma</font></td>
		<td align="center" valign=middle><font color="#000000">KJ Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="35" sdnum="16393;"><font color="#000000">35</font></td>
		<td align="center" valign=middle><font color="#000000">Hitesh Vershi Bhanushali</font></td>
		<td align="center" valign=middle><font color="#000000">KISHINCHAND CHELLARAM COLLEGE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="36" sdnum="16393;"><font color="#000000">36</font></td>
		<td align="center" valign=middle><font color="#000000">Hruturaj Nikam</font></td>
		<td align="center" valign=middle><font color="#000000">K.C. College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="37" sdnum="16393;"><font color="#000000">37</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Ganraj Waghmare</font></td>
		<td align="center" valign=middle><font color="#000000">KISHINCHAND CHELLARAM COLLEGE , MUMBAI</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="38" sdnum="16393;"><font color="#000000">38</font></td>
		<td align="center" valign=middle><font color="#000000">Jainam Shripal Shah</font></td>
		<td align="center" valign=middle><font color="#000000">Narsee Monjee College of Commerce and Economics</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="39" sdnum="16393;"><font color="#000000">39</font></td>
		<td align="center" valign=middle><font color="#000000">Jhanvi Satish Dodiya</font></td>
		<td align="center" valign=middle><font color="#000000">K J Somaiya College Of Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="40" sdnum="16393;"><font color="#000000">40</font></td>
		<td align="center" valign=middle><font color="#000000">Kajal Sanjay Singh</font></td>
		<td align="center" valign=middle><font color="#000000">B.K Birla College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="41" sdnum="16393;"><font color="#000000">41</font></td>
		<td align="center" valign=middle><font color="#000000">Kamna Yadav</font></td>
		<td align="center" valign=middle><font color="#000000">Royal College Mira Road</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="42" sdnum="16393;"><font color="#000000">42</font></td>
		<td align="center" valign=middle><font color="#000000">Kanad Ravindra Gaikwad</font></td>
		<td align="center" valign=middle><font color="#000000">D.G.Ruparel College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="43" sdnum="16393;"><font color="#000000">43</font></td>
		<td align="center" valign=middle><font color="#000000">Karan Ramesh Dhanwani</font></td>
		<td align="center" valign=middle><font color="#000000">vivekanand education society's college of arts , science and commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="44" sdnum="16393;"><font color="#000000">44</font></td>
		<td align="center" valign=middle><font color="#000000">Komal Balaji Kamble</font></td>
		<td align="center" valign=middle><font color="#000000">Smt.Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="45" sdnum="16393;"><font color="#000000">45</font></td>
		<td align="center" valign=middle><font color="#000000">Kriti Tejpal</font></td>
		<td align="center" valign=middle><font color="#000000">SIES college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="46" sdnum="16393;"><font color="#000000">46</font></td>
		<td align="center" valign=middle><font color="#000000">Krupaben Bharatbhai Panchal</font></td>
		<td align="center" valign=middle><font color="#000000">K J SOMAIYA COLLEGE OF SCIENCE AND COMMERCE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="47" sdnum="16393;"><font color="#000000">47</font></td>
		<td align="center" valign=middle><font color="#000000">Kumari Reema</font></td>
		<td align="center" valign=middle><font color="#000000">SIES (Nerul) college of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="48" sdnum="16393;"><font color="#000000">48</font></td>
		<td align="center" valign=middle><font color="#000000">Kunal Ghansham Shroff</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="49" sdnum="16393;"><font color="#000000">49</font></td>
		<td align="center" valign=middle><font color="#000000">Laxmibebi Chotelal Sharma</font></td>
		<td align="center" valign=middle><font color="#000000">SK Somaiya</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="50" sdnum="16393;"><font color="#000000">50</font></td>
		<td align="center" valign=middle><font color="#000000">Manasi Mahendra Chavan</font></td>
		<td align="center" valign=middle><font color="#000000">B.N. Bandodkar College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="51" sdnum="16393;"><font color="#000000">51</font></td>
		<td align="center" valign=middle><font color="#000000">Mandar Mahesh More</font></td>
		<td align="center" valign=middle><font color="#000000">K.E.S Shroff College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="52" sdnum="16393;"><font color="#000000">52</font></td>
		<td align="center" valign=middle><font color="#000000">Manisha Rajesh Gupta</font></td>
		<td align="center" valign=middle><font color="#000000">SIES college of Arts, Science and Commerce Sion(W)</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="53" sdnum="16393;"><font color="#000000">53</font></td>
		<td align="center" valign=middle><font color="#000000">Mansi Gandhi</font></td>
		<td align="center" valign=middle><font color="#000000">Usha Pravin Gandhi</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="54" sdnum="16393;"><font color="#000000">54</font></td>
		<td align="center" valign=middle><font color="#000000">Marishwaran Kumarasamy</font></td>
		<td align="center" valign=middle><font color="#000000">KJ Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="55" sdnum="16393;"><font color="#000000">55</font></td>
		<td align="center" valign=middle><font color="#000000">Mariya Zubair Mansuri</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="56" sdnum="16393;"><font color="#000000">56</font></td>
		<td align="center" valign=middle><font color="#000000">Mayur Haresh Punjabi</font></td>
		<td align="center" valign=middle><font color="#000000">Vivekanand Education Society's College of Arts, Science &amp; Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="57" sdnum="16393;"><font color="#000000">57</font></td>
		<td align="center" valign=middle><font color="#000000">Meghana Pandurang Khuspe</font></td>
		<td align="center" valign=middle><font color="#000000">B.N.Bandodkar College of science, Thane</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="58" sdnum="16393;"><font color="#000000">58</font></td>
		<td align="center" valign=middle><font color="#000000">Mistry Jay Jagdish</font></td>
		<td align="center" valign=middle><font color="#000000">nagindas khandwala college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="59" sdnum="16393;"><font color="#000000">59</font></td>
		<td align="center" valign=middle><font color="#000000">Mohammad Sartaj Naeem Ansari</font></td>
		<td align="center" valign=middle><font color="#000000">Guru Nanak Khalsa College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="60" sdnum="16393;"><font color="#000000">60</font></td>
		<td align="center" valign=middle><font color="#000000">Mohammed Zeeshan</font></td>
		<td align="center" valign=middle><font color="#000000">Wilson College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="61" sdnum="16393;"><font color="#000000">61</font></td>
		<td align="center" valign=middle><font color="#000000">Mohit Rakesh Kumar</font></td>
		<td align="center" valign=middle><font color="#000000">kc college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="62" sdnum="16393;"><font color="#000000">62</font></td>
		<td align="center" valign=middle><font color="#000000">Monica Premchand Chaurasiya</font></td>
		<td align="center" valign=middle><font color="#000000">Smt. Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="63" sdnum="16393;"><font color="#000000">63</font></td>
		<td align="center" valign=middle><font color="#000000">Mukul Mahadev Kambli</font></td>
		<td align="center" valign=middle><font color="#000000">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="64" sdnum="16393;"><font color="#000000">64</font></td>
		<td align="center" valign=middle><font color="#000000">Mushk Mohammed Hanif Khan</font></td>
		<td align="center" valign=middle><font color="#000000">B. K. Birla College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="65" sdnum="16393;"><font color="#000000">65</font></td>
		<td align="center" valign=middle><font color="#000000">Muskan Ali</font></td>
		<td align="center" valign=middle><font color="#000000">Royal college Of arts commerce and science</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="66" sdnum="16393;"><font color="#000000">66</font></td>
		<td align="center" valign=middle><font color="#000000">Nidhi Taneshkumar Dhingra</font></td>
		<td align="center" valign=middle><font color="#000000">ASHOKA CENTER FOR BUSINESS AND COMPUTER STUDIES</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="67" sdnum="16393;"><font color="#000000">67</font></td>
		<td align="center" valign=middle><font color="#000000">Nikhil Kunjumon</font></td>
		<td align="center" valign=middle><font color="#000000">St.John college of humanities and sciences</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="68" sdnum="16393;"><font color="#000000">68</font></td>
		<td align="center" valign=middle><font color="#000000">Nilesh Klumar Awdesh Kumar Singh</font></td>
		<td align="center" valign=middle><font color="#000000">K J SOMAIYA COLLEGE OF SCIENCE AND COMMERCE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="69" sdnum="16393;"><font color="#000000">69</font></td>
		<td align="center" valign=middle><font color="#000000">Nishant Ankush Khalate</font></td>
		<td align="center" valign=middle><font color="#000000">D.G Ruparel College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="70" sdnum="16393;"><font color="#000000">70</font></td>
		<td align="center" valign=middle><font color="#000000">Nithya Sathananthan</font></td>
		<td align="center" valign=middle><font color="#000000">Smt.Chandibai Himathmal Manskhani college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="71" sdnum="16393;"><font color="#000000">71</font></td>
		<td align="center" valign=middle><font color="#000000">Nitin Laxman Naik</font></td>
		<td align="center" valign=middle><font color="#000000">SIES College of Arts, science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="72" sdnum="16393;"><font color="#000000">72</font></td>
		<td align="center" valign=middle><font color="#000000">Nitu Udaybhan Prajapati</font></td>
		<td align="center" valign=middle><font color="#000000">Bk Birla College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="73" sdnum="16393;"><font color="#000000">73</font></td>
		<td align="center" valign=middle><font color="#000000">Om Mukesh Thakkar</font></td>
		<td align="center" valign=middle><font color="#000000">S. K. Somaiya College Of Arts, Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="74" sdnum="16393;"><font color="#000000">74</font></td>
		<td align="center" valign=middle><font color="#000000">Omkar Ramesh Nikam</font></td>
		<td align="center" valign=middle><font color="#000000">B.K Birla College (Autonomous), Kalyan</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="75" sdnum="16393;"><font color="#000000">75</font></td>
		<td align="center" valign=middle><font color="#000000">Palak Vivek Sharma</font></td>
		<td align="center" valign=middle><font color="#000000">SMT. SUSHILADEVI DESHMUKH COLLEGE OF ARTS, SCIENCE &amp; COMMERCE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="76" sdnum="16393;"><font color="#000000">76</font></td>
		<td align="center" valign=middle><font color="#000000">Pinal Dinesh Jain</font></td>
		<td align="center" valign=middle><font color="#000000">Tolani College Of Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="77" sdnum="16393;"><font color="#000000">77</font></td>
		<td align="center" valign=middle><font color="#000000">Prajakta Arvind Sawant</font></td>
		<td align="center" valign=middle><font color="#000000">SIES College of Arts , Science and Commerce , Sion (West).</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="78" sdnum="16393;"><font color="#000000">78</font></td>
		<td align="center" valign=middle><font color="#000000">Pranjal Noratan Nahata</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="79" sdnum="16393;"><font color="#000000">79</font></td>
		<td align="center" valign=middle><font color="#000000">Prapti Prashant Tandel</font></td>
		<td align="center" valign=middle><font color="#000000">D G Ruparel College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="80" sdnum="16393;"><font color="#000000">80</font></td>
		<td align="center" valign=middle><font color="#000000">Prasad Mallinath Ingale</font></td>
		<td align="center" valign=middle><font color="#000000">R.D.National College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="81" sdnum="16393;"><font color="#000000">81</font></td>
		<td align="center" valign=middle><font color="#000000">Pratap Selvan Mudaliar</font></td>
		<td align="center" valign=middle><font color="#000000">SK Somaiya Degree College Of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="82" sdnum="16393;"><font color="#000000">82</font></td>
		<td align="center" valign=middle><font color="#000000">Prathamesh Raju Devkar</font></td>
		<td align="center" valign=middle><font color="#000000">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="83" sdnum="16393;"><font color="#000000">83</font></td>
		<td align="center" valign=middle><font color="#000000">Prathamesh Roge</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="84" sdnum="16393;"><font color="#000000">84</font></td>
		<td align="center" valign=middle><font color="#000000">Pratibha Subhashchandra Singh</font></td>
		<td align="center" valign=middle><font color="#000000">SS &amp; LS Patkar Varde College of Arts &amp; Science</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="85" sdnum="16393;"><font color="#000000">85</font></td>
		<td align="center" valign=middle><font color="#000000">Pratik Manik Pingle</font></td>
		<td align="center" valign=middle><font color="#000000">B.K.Birla College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="86" sdnum="16393;"><font color="#000000">86</font></td>
		<td align="center" valign=middle><font color="#000000">Pratiksha Prakash Chalke</font></td>
		<td align="center" valign=middle><font color="#000000">B.N.Bandodkar College of Science</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="87" sdnum="16393;"><font color="#000000">87</font></td>
		<td align="center" valign=middle><font color="#000000">Pratisha parande</font></td>
		<td align="center" valign=middle><font color="#000000">SOPHIA COLLEGE FOR WOMEN</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="88" sdnum="16393;"><font color="#000000">88</font></td>
		<td align="center" valign=middle><font color="#000000">Preeti Pareek</font></td>
		<td align="center" valign=middle><font color="#000000">B.K.Birla College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="89" sdnum="16393;"><font color="#000000">89</font></td>
		<td align="center" valign=middle><font color="#000000">Preeti Prakash Shingate</font></td>
		<td align="center" valign=middle><font color="#000000">Mulund College of Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="90" sdnum="16393;"><font color="#000000">90</font></td>
		<td align="center" valign=middle><font color="#000000">Priti Mainkar</font></td>
		<td align="center" valign=middle><font color="#000000">K. J. Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="91" sdnum="16393;"><font color="#000000">91</font></td>
		<td align="center" valign=middle><font color="#000000">Priti Parshotamlal Tinya</font></td>
		<td align="center" valign=middle><font color="#000000">Smt.Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="92" sdnum="16393;"><font color="#000000">92</font></td>
		<td align="center" valign=middle><font color="#000000">Priya Sambhaji Deshmukh</font></td>
		<td align="center" valign=middle><font color="#000000">B.K.Birla College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="93" sdnum="16393;"><font color="#000000">93</font></td>
		<td align="center" valign=middle><font color="#000000">Priyanka Surendranath Maurya</font></td>
		<td align="center" valign=middle><font color="#000000">Thakur College of science and commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="94" sdnum="16393;"><font color="#000000">94</font></td>
		<td align="center" valign=middle><font color="#000000">Rahul Chawla</font></td>
		<td align="center" valign=middle><font color="#000000">Smt Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="95" sdnum="16393;"><font color="#000000">95</font></td>
		<td align="center" valign=middle><font color="#000000">Ramya Rao</font></td>
		<td align="center" valign=middle><font color="#000000">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="96" sdnum="16393;"><font color="#000000">96</font></td>
		<td align="center" valign=middle><font color="#000000">Ravi Surendra Mishra</font></td>
		<td align="center" valign=middle><font color="#000000">SS and LS PATKAR COLLEGE OF ARTS ANDS SCIENCE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="97" sdnum="16393;"><font color="#000000">97</font></td>
		<td align="center" valign=middle><font color="#000000">Riddhi Dattani</font></td>
		<td align="center" valign=middle><font color="#000000">KES Shroff College of Arts &amp; Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="98" sdnum="16393;"><font color="#000000">98</font></td>
		<td align="center" valign=middle><font color="#000000">Rita Sanjay Jain</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="99" sdnum="16393;"><font color="#000000">99</font></td>
		<td align="center" valign=middle><font color="#000000">Ritik Ganesh Waghela</font></td>
		<td align="center" valign=middle><font color="#000000">Kishinchand chellaram college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="100" sdnum="16393;"><font color="#000000">100</font></td>
		<td align="center" valign=middle><font color="#000000">Ritvik Pankaj Kadam</font></td>
		<td align="center" valign=middle><font color="#000000">Patkar-Varde College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="101" sdnum="16393;"><font color="#000000">101</font></td>
		<td align="center" valign=middle><font color="#000000">Ronit Bainipal</font></td>
		<td align="center" valign=middle><font color="#000000">JAI HIND COLLEGE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="102" sdnum="16393;"><font color="#000000">102</font></td>
		<td align="center" valign=middle><font color="#000000">Rupesh Mahendranath Tiwari</font></td>
		<td align="center" valign=middle><font color="#000000">patkar varde college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="103" sdnum="16393;"><font color="#000000">103</font></td>
		<td align="center" valign=middle><font color="#000000">Rutika Sandipan Sonawane</font></td>
		<td align="center" valign=middle><font color="#000000">D.G. Ruparel College , Mahim</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="104" sdnum="16393;"><font color="#000000">104</font></td>
		<td align="center" valign=middle><font color="#000000">Sachin Ramesh Vishwakarma</font></td>
		<td align="center" valign=middle><font color="#000000">Ramniranjan Jhunjhunwala college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="105" sdnum="16393;"><font color="#000000">105</font></td>
		<td align="center" valign=middle><font color="#000000">Sagar Ramchandra Khot</font></td>
		<td align="center" valign=middle><font color="#000000">Ramniranjan jhunjhunwala college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="106" sdnum="16393;"><font color="#000000">106</font></td>
		<td align="center" valign=middle><font color="#000000">Sahil Prabhakar Matele</font></td>
		<td align="center" valign=middle><font color="#000000">S K Somaiya college of arts science and commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="107" sdnum="16393;"><font color="#000000">107</font></td>
		<td align="center" valign=middle><font color="#000000">Sairaj Pandurang Mayekar</font></td>
		<td align="center" valign=middle><font color="#000000">Tolani College Of Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="108" sdnum="16393;"><font color="#000000">108</font></td>
		<td align="center" valign=middle><font color="#000000">Sakshi Suresh Agre</font></td>
		<td align="center" valign=middle><font color="#000000">K J Somaiya college of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="109" sdnum="16393;"><font color="#000000">109</font></td>
		<td align="center" valign=middle><font color="#000000">Salmani Mohd Ejaz Mohd Imtiyaz</font></td>
		<td align="center" valign=middle><font color="#000000">S. K. Somaiya Degree College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="110" sdnum="16393;"><font color="#000000">110</font></td>
		<td align="center" valign=middle><font color="#000000">Sana Fatima Khan</font></td>
		<td align="center" valign=middle><font color="#000000">MAHRASHTRA</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="111" sdnum="16393;"><font color="#000000">111</font></td>
		<td align="center" valign=middle><font color="#000000">Sankarshan Bhise</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="112" sdnum="16393;"><font color="#000000">112</font></td>
		<td align="center" valign=middle><font color="#000000">Saurabh Sadashiv Vaidya</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="113" sdnum="16393;"><font color="#000000">113</font></td>
		<td align="center" valign=middle><font color="#000000">Sayandip Dilip Chakraborty</font></td>
		<td align="center" valign=middle><font color="#000000">B.K. Birla College of Arts, Science &amp; Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="114" sdnum="16393;"><font color="#000000">114</font></td>
		<td align="center" valign=middle><font color="#000000">Sayed Saifyn Jamal Nasir</font></td>
		<td align="center" valign=middle><font color="#000000">Chikitsak Samuha's S.S and L.S. Patkar College of Arts and Science and Varde College of Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="115" sdnum="16393;"><font color="#000000">115</font></td>
		<td align="center" valign=middle><font color="#000000">Sayeed Mahmood Mohd Abbasuddin</font></td>
		<td align="center" valign=middle><font color="#000000">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="116" sdnum="16393;"><font color="#000000">116</font></td>
		<td align="center" valign=middle><font color="#000000">Shankar Pundlik Rawool</font></td>
		<td align="center" valign=middle><font color="#000000">D. G. Ruparel College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="117" sdnum="16393;"><font color="#000000">117</font></td>
		<td align="center" valign=middle><font color="#000000">Shashwat Singh</font></td>
		<td align="center" valign=middle><font color="#000000">ASHOKA CENTER FOR BUSINESS AND COMPUTER STUDIES</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="118" sdnum="16393;"><font color="#000000">118</font></td>
		<td align="center" valign=middle><font color="#000000">Shivam Rakesh Singh</font></td>
		<td align="center" valign=middle><font color="#000000">Ramniranjan Jhunjhunwala College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="119" sdnum="16393;"><font color="#000000">119</font></td>
		<td align="center" valign=middle><font color="#000000">Shivam Virendra Gosain</font></td>
		<td align="center" valign=middle><font color="#000000">SIES College of Arts,Science and Commerce(Autonomous)</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="120" sdnum="16393;"><font color="#000000">120</font></td>
		<td align="center" valign=middle><font color="#000000">Shraddha Shivaji Dhumale</font></td>
		<td align="center" valign=middle><font color="#000000">Vivekanand Education Society's College of Arts, Science and commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="121" sdnum="16393;"><font color="#000000">121</font></td>
		<td align="center" valign=middle><font color="#000000">Shreesh Pandey</font></td>
		<td align="center" valign=middle><font color="#000000">Guru Nanak Khalsa College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="122" sdnum="16393;"><font color="#000000">122</font></td>
		<td align="center" valign=middle><font color="#000000">Shruti Bhandari</font></td>
		<td align="center" valign=middle><font color="#000000">SIES College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="123" sdnum="16393;"><font color="#000000">123</font></td>
		<td align="center" valign=middle><font color="#000000">Shubham Shivaji Tikka</font></td>
		<td align="center" valign=middle><font color="#000000">Shailendra Education Society's college of arts com and sci.</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="124" sdnum="16393;"><font color="#000000">124</font></td>
		<td align="center" valign=middle><font color="#000000">Shubhendam Shrotriya</font></td>
		<td align="center" valign=middle><font color="#000000">K.P.B HINDUJA COLLEGE OF COMMERCE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="125" sdnum="16393;"><font color="#000000">125</font></td>
		<td align="center" valign=middle><font color="#000000">Siddhesh Bajirao Gaikwad</font></td>
		<td align="center" valign=middle><font color="#000000">vivekanand reducation society's college of arts,science and commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="126" sdnum="16393;"><font color="#000000">126</font></td>
		<td align="center" valign=middle><font color="#000000">Siddhesh Vijay Badhe</font></td>
		<td align="center" valign=middle><font color="#000000">Shailendra Education Society's college of arts, commerce and science</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="127" sdnum="16393;"><font color="#000000">127</font></td>
		<td align="center" valign=middle><font color="#000000">Simran Singh</font></td>
		<td align="center" valign=middle><font color="#000000">Ramnarain Ruia Autonomous College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="128" sdnum="16393;"><font color="#000000">128</font></td>
		<td align="center" valign=middle><font color="#000000">Snehal Bhandarkar</font></td>
		<td align="center" valign=middle><font color="#000000">Sk somaiya</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="129" sdnum="16393;"><font color="#000000">129</font></td>
		<td align="center" valign=middle><font color="#000000">Sonia Saravanan</font></td>
		<td align="center" valign=middle><font color="#000000">S.I.E.S COLLEGE OF ARTS SCIENCE AND COMMERCE -AUTONOMOUS SION WEST</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="130" sdnum="16393;"><font color="#000000">130</font></td>
		<td align="center" valign=middle><font color="#000000">Soniya Sudarshan Mishra</font></td>
		<td align="center" valign=middle><font color="#000000">K J Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="131" sdnum="16393;"><font color="#000000">131</font></td>
		<td align="center" valign=middle><font color="#000000">Sriharsh Sathishankar Kamath</font></td>
		<td align="center" valign=middle><font color="#000000">Viva College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="132" sdnum="16393;"><font color="#000000">132</font></td>
		<td align="center" valign=middle><font color="#000000">Sunil Kari Mandal</font></td>
		<td align="center" valign=middle><font color="#000000">Mumbai University</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="133" sdnum="16393;"><font color="#000000">133</font></td>
		<td align="center" valign=middle><font color="#000000">Suyog Dilip Ramane</font></td>
		<td align="center" valign=middle><font color="#000000">V. G. Vaze College of Arts,Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="134" sdnum="16393;"><font color="#000000">134</font></td>
		<td align="center" valign=middle><font color="#000000">Swarupa Ashok Pasalkar</font></td>
		<td align="center" valign=middle><font color="#000000">B. K. Birla College of Arts,Science and Commerce Kalyan(w)</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="135" sdnum="16393;"><font color="#000000">135</font></td>
		<td align="center" valign=middle><font color="#000000">Tanuja Ganesh Kahadane</font></td>
		<td align="center" valign=middle><font color="#000000">SIES(Nerul) College of arts,science &amp; commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="136" sdnum="16393;"><font color="#000000">136</font></td>
		<td align="center" valign=middle><font color="#000000">Tanvi Balaram Dhasade</font></td>
		<td align="center" valign=middle><font color="#000000">B. K. Birla College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="137" sdnum="16393;"><font color="#000000">137</font></td>
		<td align="center" valign=middle><font color="#000000">Tarun Makhija</font></td>
		<td align="center" valign=middle><font color="#000000">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="138" sdnum="16393;"><font color="#000000">138</font></td>
		<td align="center" valign=middle><font color="#000000">Tejas Vilas Parab</font></td>
		<td align="center" valign=middle><font color="#000000">S K Somaiya Degree College Of Arts, Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="139" sdnum="16393;"><font color="#000000">139</font></td>
		<td align="center" valign=middle><font color="#000000">Tushar Sudhakar Jadhav</font></td>
		<td align="center" valign=middle><font color="#000000">ashoka center for business and computer studies</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="140" sdnum="16393;"><font color="#000000">140</font></td>
		<td align="center" valign=middle><font color="#000000">Vaibhav Dhanraj Pawar</font></td>
		<td align="center" valign=middle><font color="#000000">Chandibai Himmathmal Mansukhani college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="141" sdnum="16393;"><font color="#000000">141</font></td>
		<td align="center" valign=middle><font color="#000000">Vaibhav Sampatrao Kamble</font></td>
		<td align="center" valign=middle><font color="#000000">B N Bandodkar collage of science</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="142" sdnum="16393;"><font color="#000000">142</font></td>
		<td align="center" valign=middle><font color="#000000">Vatsal Dipesh Shah</font></td>
		<td align="center" valign=middle><font color="#000000">K J Somaiya College Of Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="143" sdnum="16393;"><font color="#000000">143</font></td>
		<td align="center" valign=middle><font color="#000000">Vikas Magit Padhi</font></td>
		<td align="center" valign=middle><font color="#000000">SK SOMAIYA COLLEGE OF ARTS SCIENCE AND COMMERCE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="144" sdnum="16393;"><font color="#000000">144</font></td>
		<td align="center" valign=middle><font color="#000000">Vinita</font></td>
		<td align="center" valign=middle><font color="#000000">B. K. Birla College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="145" sdnum="16393;"><font color="#000000">145</font></td>
		<td align="center" valign=middle><font color="#000000">Vishal Pradeepkumar Uchil</font></td>
		<td align="center" valign=middle><font color="#000000">JAI HIND COLLEGE</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="146" sdnum="16393;"><font color="#000000">146</font></td>
		<td align="center" valign=middle><font color="#000000">Vishal Ramsamujh Kushwaha</font></td>
		<td align="center" valign=middle><font color="#000000">Ramniranjan Jhunjhunwala College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="147" sdnum="16393;"><font color="#000000">147</font></td>
		<td align="center" valign=middle><font color="#000000">Vishal Vardaram Meghwal</font></td>
		<td align="center" valign=middle><font color="#000000">Model College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="148" sdnum="16393;"><font color="#000000">148</font></td>
		<td align="center" valign=middle><font color="#000000">Vishal Venkatesh Boine</font></td>
		<td align="center" valign=middle><font color="#000000">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="149" sdnum="16393;"><font color="#000000">149</font></td>
		<td align="center" valign=middle><font color="#000000">Vranda K Poojary</font></td>
		<td align="center" valign=middle><font color="#000000">S K Somaiya College of science arts &amp; commerce</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="150" sdnum="16393;"><font color="#000000">150</font></td>
		<td align="center" valign=middle><font color="#000000">Yadav Suraj Rajesh</font></td>
		<td align="center" valign=middle><font color="#000000">Kishinchamd Chellaram college</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="151" sdnum="16393;"><font color="#000000">151</font></td>
		<td align="center" valign=middle><font color="#000000">Yatin Prakash Korgaonkar</font></td>
		<td align="center" valign=middle><font color="#000000">R. D. National College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="152" sdnum="16393;"><font color="#000000">152</font></td>
		<td align="center" valign=middle><font color="#000000">Yogesh Raju Parwani</font></td>
		<td align="center" valign=middle><font color="#000000">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="153" sdnum="16393;"><font color="#000000">153</font></td>
		<td align="center" valign=middle><font color="#000000">Yusuf Khan</font></td>
		<td align="center" valign=middle><font color="#000000">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="26" align="center" valign=bottom sdval="154" sdnum="16393;"><font color="#000000">154</font></td>
		<td align="center" valign=middle><font color="#000000">Zehra Mohammad Zakir Salmani</font></td>
		<td align="center" valign=middle><font color="#000000">Patkar Varde college</font></td>
	</tr>


	    </tbody>
</table>
</ul>

</body>

</html>