{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Css File links -->
    <!--<link rel="stylesheet" href="InfosysRegistration.css">-->
    <link rel="stylesheet" href="{% static 'tpo/infosys.css'%}">

    <!-- Javascript File links -->
    <!--<script src="main.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js "></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js "></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->


    <!-- Google Fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


    <title>job4u.info</title>

  </head>

  <body>

    <header>
      <img  class = "stayLeft" src="{% static 'tpo/job4u.png'%}" alt="JOB4U-Logo">
      <div class="makeCenter"><p><span>A. P. SHAH INSTITUTE OF TECHNOLOGY</span></p></div>
      <div class="header-right">
<div class = "icons"><a href="https://www.facebook.com/tpoApsit/" target="_blank"><img src="{% static 'tpo/iconfinder_f-facebook_256_282470.png'%}" alt="Facebook"></a></div>
        <div class = "icons"><a href="https://www.instagram.com/job4u_info/" target="_blank"><img src="{% static 'tpo/iconfinder_Instagram_1298747.png'%}" alt="Instagram"></a></div>
    <div class = "icons"><a href="https://twitter.com/u_job4" target="_blank"><img src="/static/tpo/Images/iconfinder_twitter_834708.png" alt="Twitter"></a></div>
        <div class = "icons"><a href="https://www.linkedin.com/in/apsitthane/" target="_blank"><img src="{% static 'tpo/iconfinder_linkedin_386655.png'%}" alt="LinkedIn"></a></div>
      </div>
      <!-- <img class = "floatRight" src="APSIT.png" alt="APSIT-LOGO"> -->
    </header>

    <div class="containerFK">

      <div class="FaisalKhan">
        <img  class = "faisalKhanjpg" src="{% static 'tpo/faisalsir.jpg'%}" alt="Faisal Khan">
        <p><a href="https://www.instagram.com/job4u_info/" target="_blank"><span class = "makebold">Faisal Khan</span></a></p>
        <p> Head Placement Officer, APSIT</p>
        <p>Joint Secretary, MATPO</p>
        <!--<p>2020 Batch</p>-->
        <!-- <img class = "apsitlogo" src="APSIT (1).png" alt="APSIT-LOGO"> -->
      </div>

    </div>

  <div class="backgroundContainer">


    <!--<div class="container1" id = "formStart">-->

    <!--    <img class = "companyLogo" src="{% static 'tpo/capgemini.png'%}" alt="Company Name">-->
    <!--</div>-->

<div class="FaisalKhan">
<p>Results of 20th November Capgemini Drive </p></div>


 </div>
<h2>Slot 1 Aptitude Results:</h2>
 <ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr >
				<!--<th><p><font face="Arial" color="#000000">Slot</font></p></th>-->
				<!--<th><p>Title</p></th>-->
				<th><p><font face="Arial" color="#000000">Name</font></p></th>
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<th><p><font face="Arial" color="#000000">College Name</font></p></th>

			</tr>
    	</thead>
    	<tbody>

		<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Fawwaz Parvez Chiwne</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K. Birla College (Autonomous)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Omkar Ramesh Nikam</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K Birla College (Autonomous), Kalyan</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Karan Ramesh Dhanwani</font></td>
		<td align="left" valign=bottom><font face="Calibri">vivekanand education society's college of arts , science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Kunal Kamlesh Budhwani</font></td>
		<td align="left" valign=bottom><font face="Calibri">Vivekanand education society college of arts,science&amp;commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Neha Suresh Kadam</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.N.Bandodkar College of Science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Preeti Pareek</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K.Birla College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Palak Vivek Sharma</font></td>
		<td align="left" valign=bottom><font face="Calibri">SMT. SUSHILADEVI DESHMUKH COLLEGE OF ARTS, SCIENCE &amp; COMMERCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Marishwaran Kumarasamy</font></td>
		<td align="left" valign=bottom><font face="Calibri">KJ Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sayed Saifyn Jamal Nasir</font></td>
		<td align="left" valign=bottom><font face="Calibri">Chikitsak Samuha's S.S and L.S. Patkar College of Arts and Science and Varde College of Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Kriti Tejpal</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Jai Ganraj Waghmare</font></td>
		<td align="left" valign=bottom><font face="Calibri">KISHINCHAND CHELLARAM COLLEGE , MUMBAI</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Kamna Yadav</font></td>
		<td align="left" valign=bottom><font face="Calibri">Royal College Mira Road</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Jhanvi Satish Dodiya</font></td>
		<td align="left" valign=bottom><font face="Calibri">K J Somaiya College Of Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Yusuf Khan</font></td>
		<td align="left" valign=bottom><font face="Calibri">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Anjali Datta Patil</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K.Birla College of arts,Science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Komal Balaji Kamble</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt.Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sakshi Suresh Agre</font></td>
		<td align="left" valign=bottom><font face="Calibri">K J Somaiya college of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Chaitanya Sukant Javadekar</font></td>
		<td align="left" valign=bottom><font face="Calibri">B. K. Birla College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ekta Sollet</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Aakashkumar Surendrakumar Dubey</font></td>
		<td align="left" valign=bottom><font face="Calibri">Royal college of arts science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ronit Bainipal</font></td>
		<td align="left" valign=bottom><font face="Calibri">JAI HIND COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ashita Haresh Udhani</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt. Chandibai Himathmal Mansukhani college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Manasi Mahendra Chavan</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.N. Bandodkar College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Suyog Dilip Ramane</font></td>
		<td align="left" valign=bottom><font face="Calibri">V. G. Vaze College of Arts,Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ritesh Raghunath Jadhav</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar-Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Rahul Navinkumar Shukla</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K.Birla College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Meghana Pandurang Khuspe</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.N.Bandodkar College of science, Thane</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Anisha Rajendra Sharma</font></td>
		<td align="left" valign=bottom><font face="Calibri">B. K. Birla College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Hruturaj Nikam</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.C. College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Om Mukesh Thakkar</font></td>
		<td align="left" valign=bottom><font face="Calibri">S. K. Somaiya College Of Arts, Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Prasad Mallinath Ingale</font></td>
		<td align="left" valign=bottom><font face="Calibri">R.D.National College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Tanvi Balaram Dhasade</font></td>
		<td align="left" valign=bottom><font face="Calibri">B. K. Birla College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Dipen Ramesh Tamhankar</font></td>
		<td align="left" valign=bottom><font face="Calibri">Viva college of arts commerce and science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Swarupa Ashok Pasalkar</font></td>
		<td align="left" valign=bottom><font face="Calibri">B. K. Birla College of Arts,Science and Commerce Kalyan(w)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Masira Altaf Kazi</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES of Arts, Science and Commerce, Sion(W)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Arunima Jayachandran Nair</font></td>
		<td align="left" valign=bottom><font face="Calibri">Keraleeya Samajham Dombivli's Model College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Manisha Rajesh Gupta</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES college of Arts, Science and Commerce Sion(W)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vinita</font></td>
		<td align="left" valign=bottom><font face="Calibri">B. K. Birla College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sayandip Dilip Chakraborty</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K. Birla College of Arts, Science &amp; Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Priya Sambhaji Deshmukh</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K.Birla College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shubhendam Shrotriya</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.P.B HINDUJA COLLEGE OF COMMERCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mohammed Zeeshan</font></td>
		<td align="left" valign=bottom><font face="Calibri">Wilson College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Himanshu Vishwakarma</font></td>
		<td align="left" valign=bottom><font face="Calibri">KJ Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Saurabh Sadashiv Vaidya</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mayur Haresh Punjabi</font></td>
		<td align="left" valign=bottom><font face="Calibri">Vivekanand Education Society's College of Arts, Science &amp; Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sana Fatima Khan</font></td>
		<td align="left" valign=bottom><font face="Calibri">MAHRASHTRA</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vishal Venkatesh Boine</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Bhagyashree Ashok Kunkulol</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramniranjan Jhunjhunwala College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ritvik Pankaj Kadam</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar-Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Prathamesh Raju Devkar</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nishant Ankush Khalate</font></td>
		<td align="left" valign=bottom><font face="Calibri">D.G Ruparel College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Yadav Suraj Rajesh</font></td>
		<td align="left" valign=bottom><font face="Calibri">Kishinchamd Chellaram college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Akshay Ashok Utekar</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.J.Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Soniya Sudarshan Mishra</font></td>
		<td align="left" valign=bottom><font face="Calibri">K J Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pravin Gangaram Patel</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Asad Mohd Sajid Khan</font></td>
		<td align="left" valign=bottom><font face="Calibri">VES College of Arts, Sci &amp; Comm</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pinal Dinesh Jain</font></td>
		<td align="left" valign=bottom><font face="Calibri">Tolani College Of Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mandar Mahesh More</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.E.S Shroff College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Darshan Jain</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.E.S. Shroff College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Prapti Prabhakar Gharat</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar varde college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Rahul Chawla</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shivam Virendra Gosain</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES College of Arts,Science and Commerce(Autonomous)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Amey Suresh Mahamuni</font></td>
		<td align="left" valign=bottom><font face="Calibri">patkar varde college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Tejas Vilas Parab</font></td>
		<td align="left" valign=bottom><font face="Calibri">S K Somaiya Degree College Of Arts, Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nithya Sathananthan</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt.Chandibai Himathmal Manskhani college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Akshada Anil Rajgurkar</font></td>
		<td align="left" valign=bottom><font face="Calibri">SMT. Sushiladevi Deshmukh Degree College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Akshata Arvind Parab</font></td>
		<td align="left" valign=bottom><font face="Calibri">V.G.Vaze College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Zehra Mohammad Zakir Salmani</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar Varde college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Aditya Srivastava</font></td>
		<td align="left" valign=bottom><font face="Calibri">Kishanchand Chellaram College</font></td>
	</tr>
	</tbody>
</table>
</ul>

<h2>Slot 2 Aptitude Results:<h2>
<ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr >
				<!--<th><p><font face="Arial" color="#000000">Slot</font></p></th>-->
				<!--<th><p>Title</p></th>-->
				<th><p><font face="Arial" color="#000000">Name</font></p></th>
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<th><p><font face="Arial" color="#000000">College Name</font></p></th>

			</tr>
    	</thead>
    	<tbody>
    		<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shashwat Singh</font></td>
		<td align="left" valign=bottom><font face="Calibri">ASHOKA CENTER FOR BUSINESS AND COMPUTER STUDIES</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pranjal Noratan Nahata</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Laxmibebi Chotelal Sharma</font></td>
		<td align="left" valign=bottom><font face="Calibri">SK Somaiya</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vikas Magit Padhi</font></td>
		<td align="left" valign=bottom><font face="Calibri">SK SOMAIYA COLLEGE OF ARTS SCIENCE AND COMMERCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Moiz Nisarahmad Shaikh</font></td>
		<td align="left" valign=bottom><font face="Calibri">ASHOKA CENTER FOR BUSINESS AND COMPUTER STUDIES</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vishal Pradeepkumar Uchil</font></td>
		<td align="left" valign=bottom><font face="Calibri">JAI HIND COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Taha Poonawala</font></td>
		<td align="left" valign=bottom><font face="Calibri">LALA LAJPATRAI COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shivam Rakesh Singh</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramniranjan Jhunjhunwala College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shruti Bhandari</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ritik Ganesh Waghela</font></td>
		<td align="left" valign=bottom><font face="Calibri">Kishinchand chellaram college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Tushar Sudhakar Jadhav</font></td>
		<td align="left" valign=bottom><font face="Calibri">ashoka center for business and computer studies</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mariya Zubair Mansuri</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Devendra Vinod Lokhande</font></td>
		<td align="left" valign=bottom><font face="Calibri">St. John College of Humanities &amp; Sciences</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sairaj Pandurang Mayekar</font></td>
		<td align="left" valign=bottom><font face="Calibri">Tolani College Of Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Yatin Prakash Korgaonkar</font></td>
		<td align="left" valign=bottom><font face="Calibri">R. D. National College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mistry Jay Jagdish</font></td>
		<td align="left" valign=bottom><font face="Calibri">nagindas khandwala college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ravi Surendra Mishra</font></td>
		<td align="left" valign=bottom><font face="Calibri">SS and LS PATKAR COLLEGE OF ARTS ANDS SCIENCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shaikh Mohammed Abdullah</font></td>
		<td align="left" valign=bottom><font face="Calibri">ROYAL COLLEGE OF ARTS, SCIENCE &amp; COMMERCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Afeeda Abdul Hameed</font></td>
		<td align="left" valign=bottom><font face="Calibri">JAI HIND COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pratibha Subhashchandra Singh</font></td>
		<td align="left" valign=bottom><font face="Calibri">SS &amp; LS Patkar Varde College of Arts &amp; Science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Annapurna Narottam Chandela</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramniranjan Jhunjhunwala college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sagar Ramchandra Khot</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramniranjan jhunjhunwala college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Kunal Ghansham Shroff</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nikhil Kunjumon</font></td>
		<td align="left" valign=bottom><font face="Calibri">St.John college of humanities and sciences</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Priyanka Shivaji Chougule</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt. Sushiladevi Deshmukh College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Prince Suresh Dubey</font></td>
		<td align="left" valign=bottom><font face="Calibri">VIVA COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nidhi Taneshkumar Dhingra</font></td>
		<td align="left" valign=bottom><font face="Calibri">ASHOKA CENTER FOR BUSINESS AND COMPUTER STUDIES</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Muskan Ali</font></td>
		<td align="left" valign=bottom><font face="Calibri">Royal college Of arts commerce and science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mohit Rakesh Kumar</font></td>
		<td align="left" valign=bottom><font face="Calibri">kc college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Rita Sanjay Jain</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Prathamesh Roge</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Deepak Murugan Naidu</font></td>
		<td align="left" valign=bottom><font face="Calibri">KJ SOMAIYA COLLEGE OF SCIENCE &amp; COMMERCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sunil Kari Mandal</font></td>
		<td align="left" valign=bottom><font face="Calibri">Mumbai University</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Archana Rahulan</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K BIRLA COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Darshan Ghanshyam Malvi</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.E.S Shroff College Kandivali(W)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Anil Amrutlal Vishwakarma</font></td>
		<td align="left" valign=bottom><font face="Calibri">VIVA COLLEGE OF ARTS, COMMERCE, AND SCIENCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Hitesh Vershi Bhanushali</font></td>
		<td align="left" valign=bottom><font face="Calibri">KISHINCHAND CHELLARAM COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Prajakta Arvind Sawant</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES College of Arts , Science and Commerce , Sion (West).</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nikita Shankar Rikame</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar-varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shraddha Shivaji Dhumale</font></td>
		<td align="left" valign=bottom><font face="Calibri">Vivekanand Education Society's College of Arts, Science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Priyanka Surendranath Maurya</font></td>
		<td align="left" valign=bottom><font face="Calibri">Thakur College of science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Riddhi Dattani</font></td>
		<td align="left" valign=bottom><font face="Calibri">KES Shroff College of Arts &amp; Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Abdulhannan Shaikh</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramniranjan Jhunjhunwala College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vishal Ramsamujh Kushwaha</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramniranjan Jhunjhunwala College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Siddhesh Vijay Badhe</font></td>
		<td align="left" valign=bottom><font face="Calibri">Shailendra Education Society's college of arts, commerce and science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shubham Shivaji Tikka</font></td>
		<td align="left" valign=bottom><font face="Calibri">Shailendra Education Society's college of arts com and sci.</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Anuja Santoshkumar Panda</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ramya Rao</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vaibhav Sampatrao Kamble</font></td>
		<td align="left" valign=bottom><font face="Calibri">B N Bandodkar collage of science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pratiksha Prakash Chalke</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.N.Bandodkar College of Science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Abhishek Jitendra Hinge</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt. Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="92" align="left" valign=bottom><font face="Calibri" color="#222222">Sapna Ram Avtar Yadav</font></td>
		<td align="left"><font face="Calibri">Ramniranjan jhunjhunwala college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pradnya Sanjay Bagate</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES collage of arts, science and commerce</font></td>
	</tr>
	<tr>
		<td height="110" align="left" valign=bottom><font face="Calibri">Monica Premchand Chaurasiya</font></td>
		<td align="left"><font face="Calibri">Smt Chandibai Himmathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Khan Muskaan Irfan Ahmed</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramniranjan Jhunjhunwala College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="128" align="left" valign=bottom><font face="Calibri">Kumari Reema</font></td>
		<td align="left"><font face="Calibri">SIES(Nerul) college of Art, Science and commerce</font></td>
	</tr>
	<tr>
		<td height="92" align="left" valign=bottom><font face="Calibri">Sachin Ramesh Vishwakarma</font></td>
		<td align="left"><font face="Calibri">Ramniranjan Jhunjhunwala college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Angelica Maria Dias</font></td>
		<td align="left" valign=bottom><font face="Calibri">S.I.E.S. College</font></td>
	</tr>

	    </tbody>
</table>
</ul>
<h2>Slot 3 Aptitude Results:<h2>
<ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr >
				<!--<th><p><font face="Arial" color="#000000">Slot</font></p></th>-->
				<!--<th><p>Title</p></th>-->
				<th><p><font face="Arial" color="#000000">Name</font></p></th>
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<th><p><font face="Arial" color="#000000">College Name</font></p></th>

			</tr>
    	</thead>
    	<tbody>
    	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sriharsh Sathishankar Kamath</font></td>
		<td align="left" valign=bottom><font face="Calibri">Viva College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mohammad Sartaj Naeem Ansari</font></td>
		<td align="left" valign=bottom><font face="Calibri">Guru Nanak Khalsa College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Salmani Mohd Ejaz Mohd Imtiyaz</font></td>
		<td align="left" valign=bottom><font face="Calibri">S. K. Somaiya Degree College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Rahul Sadhwani</font></td>
		<td align="left" valign=bottom><font face="Calibri">Vivekanand college of arts, science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Kajal Sanjay Singh</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K Birla College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Hritika Kamlesh Harmalkar</font></td>
		<td align="left" valign=bottom><font face="Calibri">D.G. Ruparel College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mukul Mahadev Kambli</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar Varde College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Kanchan Eknath Karale</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt. Chandibai Himathmal Mansukhani college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Priti Parshotamlal Tinya</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt.Chandibai Himathmal Mansukhani College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Prathmesh Kamlesh Vishwakarma</font></td>
		<td align="left" valign=bottom><font face="Calibri">KJ Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Tarun Makhija</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vishal Vardaram Meghwal</font></td>
		<td align="left" valign=bottom><font face="Calibri">Model College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ashmann Singh Arora</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind College(Mumbai University)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Siddhesh Bajirao Gaikwad</font></td>
		<td align="left" valign=bottom><font face="Calibri">vivekanand reducation society's college of arts,science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Yukta Ravindra Kadam</font></td>
		<td align="left" valign=bottom><font face="Calibri">Sathaye College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nilesh Klumar Awdesh Kumar Singh</font></td>
		<td align="left" valign=bottom><font face="Calibri">K J SOMAIYA COLLEGE OF SCIENCE AND COMMERCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vranda K Poojary</font></td>
		<td align="left" valign=bottom><font face="Calibri">S K Somaiya College of science arts &amp; commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Anam Khan</font></td>
		<td align="left" valign=bottom><font face="Calibri">Royal College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Simran Omprakash Dongre</font></td>
		<td align="left" valign=bottom><font face="Calibri">R K TALREJA COLLEGE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sanjivani Bhumiraj Raut</font></td>
		<td align="left" valign=bottom><font face="Calibri">Keraleeya Samajam(Regd) Dombivli's Model College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Dhanashree Sakharam Lohar</font></td>
		<td align="left" valign=bottom><font face="Calibri">B.K.Birla college of arts science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sahil Prabhakar Matele</font></td>
		<td align="left" valign=bottom><font face="Calibri">S K Somaiya college of arts science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Tanuja Ganesh Kahadane</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES(Nerul) College of arts,science &amp; commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Jagannath B Patta</font></td>
		<td align="left" valign=bottom><font face="Calibri">Guru Nanak Khalsa College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sonia Saravanan</font></td>
		<td align="left" valign=bottom><font face="Calibri">S.I.E.S COLLEGE OF ARTS SCIENCE AND COMMERCE -AUTONOMOUS SION WEST</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nitin Laxman Naik</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES College of Arts, science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Jainam Shripal Shah</font></td>
		<td align="left" valign=bottom><font face="Calibri">Narsee Monjee College of Commerce and Economics</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Rahul Ganesh Vallamdas</font></td>
		<td align="left" valign=bottom><font face="Calibri">Patkar-varde college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Shreesh Pandey</font></td>
		<td align="left" valign=bottom><font face="Calibri">Guru Nanak Khalsa College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Unnati Vijay Sheregar</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES(NERUL)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Roshan S Passi</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.K. Wagh Arts,Commerce,Science And Computer Science</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Snehal Bhandarkar</font></td>
		<td align="left" valign=bottom><font face="Calibri">Sk somaiya</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Simran Singh</font></td>
		<td align="left" valign=bottom><font face="Calibri">Ramnarain Ruia Autonomous College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Alvin Raja Noah Nadar</font></td>
		<td align="left" valign=bottom><font face="Calibri">SIES College of arts science &amp; Commerce (Autonomous) Sion (W)</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sweety Sagarmal Jain</font></td>
		<td align="left" valign=bottom><font face="Calibri">K J Somaiya College Of Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vaibhav Dhanraj Pawar</font></td>
		<td align="left" valign=bottom><font face="Calibri">Chandibai Himmathmal Mansukhani college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vikas Omprakash Pandey</font></td>
		<td align="left" valign=bottom><font face="Calibri">K.J.Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sankarshan Bhise</font></td>
		<td align="left" valign=bottom><font face="Calibri">Jai Hind college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pratap Selvan Mudaliar</font></td>
		<td align="left" valign=bottom><font face="Calibri">SK Somaiya Degree College Of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Krupaben Bharatbhai Panchal</font></td>
		<td align="left" valign=bottom><font face="Calibri">K J SOMAIYA COLLEGE OF SCIENCE AND COMMERCE</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Nitu Udaybhan Prajapati</font></td>
		<td align="left" valign=bottom><font face="Calibri">Bk Birla College of Arts,Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ganesh Mandal</font></td>
		<td align="left" valign=bottom><font face="Calibri">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Sayeed Mahmood Mohd Abbasuddin</font></td>
		<td align="left" valign=bottom><font face="Calibri">Kishinchand Chellaram College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vatsal Dipesh Shah</font></td>
		<td align="left" valign=bottom><font face="Calibri">K J Somaiya College Of Science And Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mushk Mohammed Hanif Khan</font></td>
		<td align="left" valign=bottom><font face="Calibri">B. K. Birla College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vinit Vikramajeet Maurya</font></td>
		<td align="left" valign=bottom><font face="Calibri">Tolani College of Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Mansi Gandhi</font></td>
		<td align="left" valign=bottom><font face="Calibri">Usha Pravin Gandhi</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Ashi Anil Jaiswal</font></td>
		<td align="left" valign=bottom><font face="Calibri">Kishinchand Chellaram College</font></td>
	</tr>

	    </tbody>
</table>
</ul>
<h2>Slot 4 Aptitude Results:<h2>
<ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr >
				<!--<th><p><font face="Arial" color="#000000">Slot</font></p></th>-->
				<!--<th><p>Title</p></th>-->
				<th><p><font face="Arial" color="#000000">Name</font></p></th>
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<th><p><font face="Arial" color="#000000">College Name</font></p></th>

			</tr>
    	</thead>
    	<tbody>
    	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Akshata Anil Yadav</font></td>
		<td align="left" valign=bottom><font face="Calibri">Smt Kastubai Walchand College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Kanad Ravindra Gaikwad</font></td>
		<td align="left" valign=bottom><font face="Calibri">D.G.Ruparel College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Gupta Vidyasagar Surendra</font></td>
		<td align="left" valign=bottom><font face="Calibri">Thakur college of science and commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Vishwajeet Bhaskar Nangare</font></td>
		<td align="left" valign=bottom><font face="Calibri">Pillai HOC College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Atharva Anil Jadhav</font></td>
		<td align="left" valign=bottom><font face="Calibri">Royal College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Preeti Prakash Shingate</font></td>
		<td align="left" valign=bottom><font face="Calibri">Mulund College of Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Amol Sandip Bhowad</font></td>
		<td align="left" valign=bottom><font face="Calibri">K. J. Somaiya College of Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Rupesh Mahendranath Tiwari</font></td>
		<td align="left" valign=bottom><font face="Calibri">patkar varde college</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Akash Dhanbahadur Thapa</font></td>
		<td align="left" valign=bottom><font face="Calibri">Tolani College of College</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Abdulhaq Patel</font></td>
		<td align="left" valign=bottom><font face="Calibri">S. K. Somaiya College of Arts, Science and Commerce</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Pratiksha Parande</font></td>
		<td align="left" valign=bottom><font face="Calibri">SOPHIA COLLEGE FOR WOMEN</font></td>
	</tr>
	<tr>
		<td height="18" align="left" valign=bottom><font face="Calibri">Krutarth Abhay Rawle</font></td>
		<td align="left" valign=bottom><font face="Calibri">R.D.National College</font></td>
	</tr>

	    </tbody>
</table>
</ul>
<h2>Slot 5 Aptitude Results:<h2>
<ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr >
				<!--<th><p><font face="Arial" color="#000000">Slot</font></p></th>-->
				<!--<th><p>Title</p></th>-->
				<th><p><font face="Arial" color="#000000">Name</font></p></th>
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<th><p><font face="Arial" color="#000000">College Name</font></p></th>

			</tr>
    	</thead>
    	<tbody>
    	<tr>
		<td height="32" align="left" valign=bottom><font face="Calibri">Shankar Pandlik Rahul</font></td>
		<td align="left" valign=bottom><font face="Calibri">D J Ruparel college</font></td>
	</tr>
	<tr>
		<td height="32" align="left" valign=bottom><font face="Calibri">Rutika Sonawane</font></td>
		<td align="left" valign=bottom><font face="Calibri">D J Ruparel college</font></td>
	</tr>
	<tr>
		<td height="32" align="left" valign=bottom><font face="Calibri">Prapti prashant Tandel</font></td>
		<td align="left" valign=bottom><font face="Calibri">D J Ruparel college</font></td>
	</tr>
	<tr>
		<td height="62" align="left" valign=bottom><font face="Calibri">Pratik Manik Pingale</font></td>
		<td align="left" valign=bottom><font face="Calibri">B K Birla College Kalyan West</font></td>
	</tr>
	<tr>
		<td height="32" align="left" valign=bottom><font face="Calibri">kartik Shridhar Gajula</font></td>
		<td align="left" valign=bottom><font face="Calibri">D J Ruparel college</font></td>
	</tr>

	    </tbody>
</table>
</ul>
<!-- ************************************************************************** -->


</body>

</html>