{% extends "tpo/base.html"%}
{% load static%}
{% block content%}


<div id="first">
	<div class = "container"  >
		<!--<img   src= {% static 'tpo/company2.png' %} height=80 width=260 >-->
		<h3 class="onlyCenter companyName"> IBM campus drive</h3>
	</div>
			{% if messages %}
	    {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
			{{ message }}
	</div>
	    {% endfor %}
			{% endif %}


	<div class="floatLeft  onlyCenter">
		<h3> Registration Confirmation</h3>

		<form method="POST" class="box">
			{% csrf_token %}
			<p>
			    <input type="number" name="confmob"  placeholder="Mobile Number" >
			</p>

			<button class = "button1" type="submit" name="confirm"> Confirm Presence</button>

			</form>

	</div><!--END OF floatLeft-->

	<div class = "floatRight onlyCenter" >

			<h3 >New  Registration &nbsp;</h3>

			<form method="POST" class="box">

				{% csrf_token %}

				<p>
				    <input type="text"  name="Student_Name" placeholder="Name" required></p>
				<p>
				    <input type="number" name="Mobile Number" placeholder="Mobile Number" required></p>
				<p>
				    <input type="email" name="Email" placeholder="Email" required></p>
				<p>
				    <input type="text" name="College_Name" placeholder="College Name" required></p>
				<p>
				    <input type="text" name="Branch" placeholder="Branch" required></p>


				<button class="button2 " type="submit" name="register"> Register </button>

				</form>

	</div><!--END OF floatRight-->

	<div class="clear1"></div>

</div>


{% endblock content%}
