{% extends "tpo/base.html"%}
{% load static%}
{% block content%}


<div id="first">
	<div align=center  >

<!--<img   src= {% static 'tpo/company2.png' %} height=80 width=260 >-->
<h3> Google campus drive</h3>
</div>
	{% if messages %}
	    {% for message in messages %}
	    <div class="alert alert-{{ message.tags }}">
		{{ message }}
		</div>
	    {% endfor %}
	{% endif %}
<br>

	<div  align=right >
	<div style="float:left ; ">
	<h3> Registration Confirmation</h3>
	<form method="POST" class="box" align="center">
		{% csrf_token %}
		<p>
		    <input type="number" name="confmob"  placeholder="Mobile Number" >
		</p>

		<button type="submit" name="confirm" style="background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 11px 28px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		  "/> Confirm Presence</button>
	</form>

	</div>

	<div style="float:right; " >
		<h3 >New  Registration &nbsp;</h3>





		<form method="POST" class="box" align="center" >

			{% csrf_token %}

			<p>
			    <input type="text"  name="Student_Name" placeholder="Name" required></p>
			<p>
			    <input type="number" name="Mobile Number" placeholder="Mobile Number" required></p>
			<p>
			    <input type="email" name="Email" placeholder="Email" required></p>
			<p>
			    <input type="text" name="College_Name" placeholder="College Name" required></p>
			<p>
			    <input type="text" name="Branch" placeholder="Branch" required></p>
			<p>
			    <input type="text" name="Slot" placeholder="Slot"></p>


		

			<button type="submit" name="register" style="background-color: #f44336; /* Green */
			border: none;
			color: white;
			padding: 11px 28px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			cursor: pointer;

			  "/> Register </button>
			</form>
		 </div>
	 </div>
</div>


{% endblock content%}
