{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Css File links -->
    <!--<link rel="stylesheet" href="InfosysRegistration.css">-->
    <link rel="stylesheet" href="{% static 'tpo/infosys.css'%}">

    <!-- Javascript File links -->
    <!--<script src="main.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js "></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js "></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->


    <!-- Google Fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


    <title>job4u.info</title>

  </head>

  <body>

    <header>
      <img  class = "stayLeft" src="{% static 'tpo/job4u.png'%}" alt="JOB4U-Logo">
      <div class="makeCenter"><p><span>A. P. SHAH INSTITUTE OF TECHNOLOGY</span></p></div>
      <div class="header-right">
<div class = "icons"><a href="https://www.facebook.com/tpoApsit/" target="_blank"><img src="{% static 'tpo/iconfinder_f-facebook_256_282470.png'%}" alt="Facebook"></a></div>
        <div class = "icons"><a href="https://www.instagram.com/job4u_info/" target="_blank"><img src="{% static 'tpo/iconfinder_Instagram_1298747.png'%}" alt="Instagram"></a></div>
    <div class = "icons"><a href="https://twitter.com/u_job4" target="_blank"><img src="/static/tpo/Images/iconfinder_twitter_834708.png" alt="Twitter"></a></div>
        <div class = "icons"><a href="https://www.linkedin.com/in/apsitthane/" target="_blank"><img src="{% static 'tpo/iconfinder_linkedin_386655.png'%}" alt="LinkedIn"></a></div>
      </div>
      <!-- <img class = "floatRight" src="APSIT.png" alt="APSIT-LOGO"> -->
    </header>

    <div class="containerFK">

      <div class="FaisalKhan">
        <img  class = "faisalKhanjpg" src="{% static 'tpo/faisalsir.jpg'%}" alt="Faisal Khan">
        <p><a href="https://www.instagram.com/job4u_info/" target="_blank"><span class = "makebold">Faisal Khan</span></a></p>
        <p> Head Placement Officer, APSIT</p>
        <!--<p>2020 Batch</p>-->
        <!-- <img class = "apsitlogo" src="APSIT (1).png" alt="APSIT-LOGO"> -->
      </div>

    </div>

  <!--<div class="backgroundContainer">-->


  <!--  <div class="container1" id = "formStart">-->

  <!--      <img class = "companyLogo" src="{% static 'tpo/infosys.png'%}" alt="Company Name">-->
  <!--  </div>-->

<!--<div class="FaisalKhan">-->
<!--<p>Students have to come on 16th November at 8:30 am in A.P.Shah College</p></div>-->


 </div>

 <ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr>
				<th><p>Name</p></th>
				<!--<th><p>Title</p></th>-->
				<th><p>College</p></th>
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<!--<th><p>Email</p></th>-->

			</tr>
    	</thead>
    	<tbody>

		<tr>
		<td ><font color="#000000">Pranav Nawale</font></td>
		<td ><font color="#000000">Rajiv Gandhi Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Piyush Rajpal</font></td>
		<td ><font color="#000000">Pillai College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Abhidnya Shyam Khobragade</font></td>
		<td ><font color="#000000">Atharva College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Rahul Chandrakant Pokharkar</font></td>
		<td ><font color="#000000">A. P. Shah Institute of Technology</font></td>

	</tr>
	<tr>
		<!--<td ><a class="comment-indicator"></a>-->
		<!--<comment>Avais Momin:-->
<!--Not delivered</comment>-->
		<td><font color="#000000">Harsh Bhanushali</font></td>
		<td ><font color="#000000">A.P Shah Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">RUSHABH HIRANI</font></td>
		<td ><font color="#000000">THAKUR COLLEGE OF ENGINEERING AND TECHNOLOGY</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Rohan Rajendra Verma</font></td>
		<td ><font color="#000000">Pillai College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">ANKITA BABURAO DILPAKE</font></td>
		<td ><font color="#000000">A.P SHAH INSTITUTE OF TECHNOLOGY</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">RINKLE RAKESH GORADIA</font></td>
		<td ><font color="#000000">K.J. Somaiya Institute of Engineering and Information Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Tejashree Ashok Salunke</font></td>
		<td ><font color="#000000">VIVA Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">RIYA RAJESH PEJAWAR</font></td>
		<td ><font color="#000000">Ap Shah Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">aakanksha sunil bhalerao</font></td>
		<td ><font color="#000000">A. P. Shah Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Riya Sangal</font></td>
		<td ><font color="#000000">A.P Shah Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">FARHAN TELVIS ALBUQUERQUE</font></td>
		<td ><font color="#000000">ANJUMAN-ISLAM KALSEKAR TECHNICAL CAMPUS</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Prakruti  Ramakant  Patil</font></td>
		<td ><font color="#000000">A.P Shah Institute of technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">sapana chinchali</font></td>
		<td ><font color="#000000">LOKMANYA TILAK COLLEGE OF ENGINEERING, KOPERKHAIRNE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">kanchan  Ravindra jha</font></td>
		<td ><font color="#000000">Shah and Anchor Kutchhi engineering college</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Sagar kantilal Bhanushali</font></td>
		<td ><font color="#000000">A.P. Shah Institute of Technology Thane</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Durgeshwar Singh</font></td>
		<td ><font color="#000000">SHREE L.R. TIWARI COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">PRATHMESH BHUPESH YADAV</font></td>
		<td ><font color="#000000">MCT Rajiv Gandhi Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">NIKHIL RAINA</font></td>
		<td ><font color="#000000">DON BOSCO INSTITUTE OF TECHNOLOGY</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">ANKITA PREMPRAKASH SHARMA</font></td>
		<td ><font color="#000000">K.C COLLEGE OF ENGINEERING THANE(E)</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">saili takalkar</font></td>
		<td ><font color="#000000">bharati vidyapeeth college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Sarthak   Gupta</font></td>
		<td ><font color="#000000">Don Bosco Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Sampada Shivaji Waman</font></td>
		<td ><font color="#000000">Saraswati  College  of  Engineering ,  Kharghar</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Mayuri Pathare</font></td>
		<td ><font color="#000000">Atharva college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Murtaza Zoher Gheewala</font></td>
		<td ><font color="#000000">D J Sanghvi College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">NIDHI SANJIV VIJAN</font></td>
		<td ><font color="#000000">Rajiv Gandhi Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">ANKITA ASHISH SHITOLE</font></td>
		<td ><font color="#000000">SHAH AND ANCHOR KUTCHHI ENGINEERING COLLEGE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Pratiksha Jaywant Prabhu</font></td>
		<td ><font color="#000000">Pillai college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Anas Altaf Mukadam</font></td>
		<td ><font color="#000000">Bharati Vidyapeeth College of Engineering, Navi Mumbai</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Rishabh brajesh shrivastav</font></td>
		<td ><font color="#000000">RIZVI COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Rohit Ramdas Bachhe</font></td>
		<td ><font color="#000000">Atharva College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Abdullah Naviwala</font></td>
		<td ><font color="#000000">M.H Saboo Siddik college of Engineering.</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Minaaz Rafiq Chogle</font></td>
		<td ><font color="#000000">M.H.Sboo Siddik COE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Jithil Sajan</font></td>
		<td ><font color="#000000">Pillai College of Engineering, New Panvel</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">AKASH ADHIKRAO KANASE</font></td>
		<td ><font color="#000000">A. P Shah Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Suyash Sadanand Gandhi</font></td>
		<td ><font color="#000000">A. P. Shah Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Shweta Sandip  Parab</font></td>
		<td ><font color="#000000">A P Shah Institute  of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">JEBIN GEORGE ROY</font></td>
		<td ><font color="#000000">Datta Meghe College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">amol mahajan</font></td>
		<td ><font color="#000000">sinhgad institute of technology lonavala</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Siddhesh Ravindra Kokane</font></td>
		<td ><font color="#000000">A. P. Shah Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Nisha  Purswani</font></td>
		<td ><font color="#000000">vivekanand Education Society Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Kartik S Nikam</font></td>
		<td ><font color="#000000">Lokmanya  Tilak College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Rajas Sanjay Badve</font></td>
		<td ><font color="#000000">Donbosco Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Jagruti Mishra</font></td>
		<td ><font color="#000000">Bharati Vidyapeeth College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Yash D. Shah</font></td>
		<td ><font color="#000000">Vidyavardhini's College of Engineering and Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">TARUN MANOJ DUBEY</font></td>
		<td ><font color="#000000">K.C COLLEGE OF ENGINEERING AND MANAGEMENT STUDIES AND RESEARCH,THANE(E) KOPRI</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Akshaykumar Pillai</font></td>
		<td ><font color="#000000">vidyavardhini's college of engineering and technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Borkar Prathamesh Manoj</font></td>
		<td ><font color="#000000">Saraswati college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Rushikesh Sunil Gajmal</font></td>
		<td ><font color="#000000">Rizvi College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Moin Khan</font></td>
		<td ><font color="#000000">Rizvi College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">ANKIT KUSHWAH</font></td>
		<td ><font color="#000000">YADAVRAO TASGAONKAR INSTITUTE OF ENGINEERING AND TECHNOLOGY</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">PRAVIRA C. SHETTY</font></td>
		<td ><font color="#000000">St. FRANCIS INSTITUTE OF MANAGEMENT AND RESEARCH</font></td>

	</tr>
	<tr>
		<td >Usham Singh</td>
		<td ><font color="#000000">Shah and Anchor Kutchi Engineering college</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Pranay Rajesh Ramani</font></td>
		<td ><font color="#000000">South Indian Education Society Graduate School Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">SAILEE  MAHENDRA PEDNEKAR</font></td>
		<td ><font color="#000000">SHAH AND ANCHOR KUTCHHI ENGINEERING COLLEGE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Bhalerao Aadarsh Arun</font></td>
		<td ><font color="#000000">M. H. Saboo Siddik college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">CHAITANYA VINAY GADGIL</font></td>
		<td ><font color="#000000">A.P. Shah Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Usham Singh Sabarwal</font></td>
		<td ><font color="#000000">shah and anchor kutchhi engineering college</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">shahil raju soni</font></td>
		<td ><font color="#000000">PILLAI COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Riya Hasmukh Jethwa</font></td>
		<td ><font color="#000000">Vidyalankar Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Sandhya Ramesh Gupta</font></td>
		<td ><font color="#000000">Saraswati College Of Engineering, Kharghar</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">CHINMAY VISHNU JAMBHAVADEKAR</font></td>
		<td ><font color="#000000">SHIVAJIRAO S JONDHALE COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Kunal Vinod Bhoyar</font></td>
		<td ><font color="#000000">Vidyavardhini College of Engineering And Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Samridhi Singh</font></td>
		<td ><font color="#000000">Pillai College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Tejas Kulkarni</font></td>
		<td ><font color="#000000">KC COLLEGE OF ENGINEERING, THANE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Yash Ravi Pardeshi</font></td>
		<td ><font color="#000000">M.H Saboo Siddik College of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">sayed faizan haider</font></td>
		<td ><font color="#000000">rizvi college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">PRABHLEEN KAUR DADIAL</font></td>
		<td ><font color="#000000">K.C COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">PRIYANKA MEENA</font></td>
		<td ><font color="#000000">SCOE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">JENISHA SERRAO</font></td>
		<td ><font color="#000000">ST. FRANCIS INSTITUTE OF MANAGEMENT AND RESEARCH</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Swapnil Pradeep Redkar</font></td>
		<td ><font color="#000000">G.V. Acharya Institute of Engineering &amp; Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Komal Prakashchandra Patra</font></td>
		<td ><font color="#000000">Saraswati college of Engineering,Kharghar</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Zikra Nadim Khan</font></td>
		<td ><font color="#000000">MH Saboo Siddik College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Sonam Chavan</font></td>
		<td ><font color="#000000">A.P. Shah Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">VEDANT  PRAMOD  KULKARNI</font></td>
		<td ><font color="#000000">A P SHAH INSTITUTE OF TECHNOLOGY</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Khan Zobia Samin Mehboob Ahmed</font></td>
		<td ><font color="#000000">S.I.E.S. Graduate school of technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">URMI VIPIN JAIN</font></td>
		<td ><font color="#000000">SHAH AND ANCHOR KUTCHHI ENGINEERING COLLEGE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Yashashree Sanjay Wagh</font></td>
		<td ><font color="#000000">Bharati Vidyapeeth College of Engineering, Navi Mumbai</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Vaghani Harsh Hareshkumar</font></td>
		<td ><font color="#000000">Atharva College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Uzma Nishat Khan</font></td>
		<td ><font color="#000000">Rizvi College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Shubham Chandrakant Bankar</font></td>
		<td ><font color="#000000">Terna Engineering College</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Vaishnavi Vivek Nazare</font></td>
		<td ><font color="#000000">Pillai College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Joelsam George</font></td>
		<td ><font color="#000000">Pillai College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Dhananjay Mahesh Bhavsar</font></td>
		<td ><font color="#000000">Vidyavardhini's college of engineering and Technology,vasai(west)</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Viral Purshottam Nena</font></td>
		<td ><font color="#000000">A P Shah Institute Of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Gauri Gothankar</font></td>
		<td ><font color="#000000">saraswati college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Bobere Sadiya Ibrahim</font></td>
		<td ><font color="#000000">MH SABOO SIDDIK COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Aishwarya Sanjay Gunjal</font></td>
		<td ><font color="#000000">Atharva College Of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Gaud Anamika</font></td>
		<td ><font color="#000000">Rizvi College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Bhumik Kalpesh Shah</font></td>
		<td ><font color="#000000">Shah and Anchor Kutchhi Engineering College</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Mohammad Shabbir Bhanpurwala</font></td>
		<td ><font color="#000000">Shah &amp; Anchor Kutchhi Engineering College.</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Harshita Divakar Suvarna</font></td>
		<td ><font color="#000000">Shah and Anchor Kutchhi Engineering College</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Jaison Samson Dsouza</font></td>
		<td ><font color="#000000">Fr. Conceicao Rodrigues college of engineering, Bandra west</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Shivam Jitendra Dogra</font></td>
		<td ><font color="#000000">Konkan gyanpeeth college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Shabista Patne</font></td>
		<td ><font color="#000000">MH Saboo Siddik College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">seena mary philippose</font></td>
		<td ><font color="#000000">Pillai college of engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Aaditi Jayant Kadam</font></td>
		<td ><font color="#000000">Datta  Meghe College  Of  Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Harish Unnikrishnan</font></td>
		<td ><font color="#000000">KC college of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Dikshita Oswal</font></td>
		<td ><font color="#000000">Pillai College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Yash Vilas Ajgaonkar</font></td>
		<td ><font color="#000000">Vidyavardhini's College of Engineering and Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Saloni Deepak Pawar</font></td>
		<td ><font color="#000000">Dr. Bhanuben Mahendra Nanavati College of Home Science</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Ayesha Mastim</font></td>
		<td ><font color="#000000">M.H.SABOO SIDDIK COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">pranav zagade</font></td>
		<td ><font color="#000000">lokmanya tilak college of engineeering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">SHAHEJAD VAHIDALI SAYYAD</font></td>
		<td ><font color="#000000">M.H.SABOO SIDDIK COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Ruchi Pravin Jain</font></td>
		<td ><font color="#000000">Saraswati college of Engineering,kharghar</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Nishtha Mishra</font></td>
		<td ><font color="#000000">Thakur College Of Engineering and Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">mubeen hamid payak</font></td>
		<td ><font color="#000000">M H SABOO SIDDIK COLLEGE OF ENGINEERING</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Ayushi Alakh Singh</font></td>
		<td ><font color="#000000">TCET</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Aairaf Akil khan</font></td>
		<td ><font color="#000000">Sandip University</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Ameya Chandrashekhar Pethe</font></td>
		<td ><font color="#000000">LN College of Management and Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">AYESHA MIYA</font></td>
		<td ><font color="#000000">Pillai College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Prajay Vaibhav Patil</font></td>
		<td ><font color="#000000">AP Shah Institute of Technology</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Soumya Shekar Shetty</font></td>
		<td ><font color="#000000">Saraswati College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Sanika Siddharth Mohile</font></td>
		<td ><font color="#000000">Bharati Vidyapeeth College of Engineering, Navi Mumbai</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Leena Kandpal</font></td>
		<td ><font color="#000000">Terna Engineering College</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">INDRAJEET NAGENDRA TIWARI</font></td>
		<td ><font color="#000000">TERNA ENGINEERING COLLEGE</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">sabrina shiny</font></td>
		<td ><font color="#000000">St. Andrews</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Mrunali Changdev Waghmare</font></td>
		<td ><font color="#000000">AISSMS IOIT</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Aishwarya Bhosale</font></td>
		<td ><font color="#000000">Dilkap</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Santosh Shyamprakash Pandey</font></td>
		<td ><font color="#000000">Theem College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">Raveena Ramchandra Sawant</font></td>
		<td ><font color="#000000">Datta Meghe College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">SHIVANI ASHOK WANGWAD</font></td>
		<td ><font color="#000000">Datta Meghe College of Engineering</font></td>

	</tr>
	<tr>
		<td ><font color="#000000">pranali singh</font></td>
		<td ><font color="#000000">Don bosco institute of technology</font></td>

	</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>

	</tr>
	</tbody>
</table>
</ul>
<!-- ************************************************************************** -->


</body>

</html>