{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Css File links -->
    <!--<link rel="stylesheet" href="InfosysRegistration.css">-->
    <link rel="stylesheet" href="{% static 'tpo/infosys.css'%}">

    <!-- Javascript File links -->
    <!--<script src="main.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js "></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js "></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->


    <!-- Google Fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


    <title>job4u.info</title>

  </head>

  <body>

    <header>
      <img  class = "stayLeft" src="{% static 'tpo/job4u.png'%}" alt="JOB4U-Logo">
      <div class="makeCenter"><p><span>A. P. SHAH INSTITUTE OF TECHNOLOGY</span></p></div>
      <div class="header-right">
<div class = "icons"><a href="https://www.facebook.com/tpoApsit/" target="_blank"><img src="{% static 'tpo/iconfinder_f-facebook_256_282470.png'%}" alt="Facebook"></a></div>
        <div class = "icons"><a href="https://www.instagram.com/job4u_info/" target="_blank"><img src="{% static 'tpo/iconfinder_Instagram_1298747.png'%}" alt="Instagram"></a></div>
    <div class = "icons"><a href="https://twitter.com/u_job4" target="_blank"><img src="/static/tpo/Images/iconfinder_twitter_834708.png" alt="Twitter"></a></div>
        <div class = "icons"><a href="https://www.linkedin.com/in/apsitthane/" target="_blank"><img src="{% static 'tpo/iconfinder_linkedin_386655.png'%}" alt="LinkedIn"></a></div>
      </div>
      <!-- <img class = "floatRight" src="APSIT.png" alt="APSIT-LOGO"> -->
    </header>

    <div class="containerFK">

      <div class="FaisalKhan">
        <img  class = "faisalKhanjpg" src="{% static 'tpo/faisalsir.jpg'%}" alt="Faisal Khan">
        <p><a href="https://www.instagram.com/job4u_info/" target="_blank"><span class = "makebold">Faisal Khan</span></a></p>
        <p> Head Placement Officer, APSIT</p>
        <p>Joint Secretary, MATPO</p><br>
        <p>Capgemini Results</p>
        <!--<p>2020 Batch</p>-->
        <!-- <img class = "apsitlogo" src="APSIT (1).png" alt="APSIT-LOGO"> -->
      </div>

    </div>

  <!--<div class="backgroundContainer">-->


  <!--  <div class="container1" id = "formStart">-->

  <!--      <img class = "companyLogo" src="{% static 'tpo/infosys.png'%}" alt="Company Name">-->
  <!--  </div>-->

<!--<div class="FaisalKhan">-->
<!--<p>Students have to come on 16th November at 8:30 am in A.P.Shah College</p></div>-->


 </div>

 <ul class = "resultTableContainer">
<table border="2" class = "resultTable">
	<thead>
			<tr>
				<th><p>Sr. No.</p></th>
				<th><p>Name</p></th>
				<th><p>College Name</p></th>
				<!--<th><p>Title</p></th>-->
				<!--<th><p>College</p></th>-->
				<!--<th><p>Middle Name</p></th>-->
				<!--<th><p>Last Name</p></th>-->
				<!--<th><p>Email</p></th>-->

			</tr>
    	</thead>
    	<tbody>

<!--<tr>-->
<!--						<td style=min-width:50px>Sr.No.</td>-->
<!--						<td style=min-width:50px>Student Name</td>-->
<!--						<td style=min-width:50px>College name</td>-->
<!--					</tr>-->
					<tr>
						<td style=min-width:50px>1</td>
						<td style=min-width:50px>Pallavi Fadtare</td>
						<td style=min-width:50px>A P SHAH INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>2</td>
						<td style=min-width:50px>Vishal Jain</td>
						<td style=min-width:50px>A. P. SHAH INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>3</td>
						<td style=min-width:50px>Vishal Kishor Shah</td>
						<td style=min-width:50px>A.P Shah institute of technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>4</td>
						<td style=min-width:50px>Meet Ramesh Maisheri</td>
						<td style=min-width:50px>A.P Shah Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>5</td>
						<td style=min-width:50px>Chintan Suchak</td>
						<td style=min-width:50px>A.P. Shah Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>6</td>
						<td style=min-width:50px>Pranaya Manohar Kudav</td>
						<td style=min-width:50px>A.C. Patil College of Engineering, Kharghar</td>
					</tr>
					<tr>
						<td style=min-width:50px>7</td>
						<td style=min-width:50px>Gaurang Panda</td>
						<td style=min-width:50px>AC Patil College of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>8</td>
						<td style=min-width:50px>Utkarsh Bhavsar</td>
						<td style=min-width:50px>Alpha College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>9</td>
						<td style=min-width:50px>Shaikh Mohammed Rehan Noor Mohammed</td>
						<td style=min-width:50px>Anjuman i Islam's Kalsekar Technical Campus</td>
					</tr>
					<tr>
						<td style=min-width:50px>10</td>
						<td style=min-width:50px>Safiya Naaz Abdul Hakeem Shaikh</td>
						<td style=min-width:50px>Anjuman-i-islam kalsekar technical campus</td>
					</tr>
					<tr>
						<td style=min-width:50px>11</td>
						<td style=min-width:50px>Shaikh Altamas Shakeel</td>
						<td style=min-width:50px>Anjuman-I-Islam's Kalsekar Technical Campus</td>
					</tr>
					<tr>
						<td style=min-width:50px>12</td>
						<td style=min-width:50px>Aishwarya Gunjal</td>
						<td style=min-width:50px>Atharva College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>13</td>
						<td style=min-width:50px>Sarvesh Sureshchandra Pal</td>
						<td style=min-width:50px>Atharva college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>14</td>
						<td style=min-width:50px>Vikas Ashok Gupta</td>
						<td style=min-width:50px>Atharva College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>15</td>
						<td style=min-width:50px>Sanjay Vijay Bane</td>
						<td style=min-width:50px>Atharva College Of Engineering, Malad</td>
					</tr>
					<tr>
						<td style=min-width:50px>16</td>
						<td style=min-width:50px>Janhavi Harish Gajbhiye</td>
						<td style=min-width:50px>BE</td>
					</tr>
					<tr>
						<td style=min-width:50px>17</td>
						<td style=min-width:50px>Shweta Jayant Bhosale</td>
						<td style=min-width:50px>BHARATI VIDYAPEETH COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>18</td>
						<td style=min-width:50px>Rahul Chhichhia</td>
						<td style=min-width:50px>Birla Vishvakarma Mahavidyalaya</td>
					</tr>
					<tr>
						<td style=min-width:50px>19</td>
						<td style=min-width:50px>Lalit Soni</td>
						<td style=min-width:50px>CHHOTUBHAI GOPALBHAI PATEL INSTITUTE OF TECHNOLGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>20</td>
						<td style=min-width:50px>Jitarth C. Tanna</td>
						<td style=min-width:50px>Chhotubhai Gopalbhai Patel Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>21</td>
						<td style=min-width:50px>Shivani Laxman Manchewar</td>
						<td style=min-width:50px>Datta meghe</td>
					</tr>
					<tr>
						<td style=min-width:50px>22</td>
						<td style=min-width:50px>Shreya Borkar</td>
						<td style=min-width:50px>datta meghe college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>23</td>
						<td style=min-width:50px>Minal Nilkanth Koli</td>
						<td style=min-width:50px>DATTA MEGHE COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>24</td>
						<td style=min-width:50px>Amit Ashwini Thakur</td>
						<td style=min-width:50px>Datta Meghe College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>25</td>
						<td style=min-width:50px>Piyush Santosh Jayasawal</td>
						<td style=min-width:50px>DATTA MEGHE COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>26</td>
						<td style=min-width:50px>Malini Raosaheb Ghuge</td>
						<td style=min-width:50px>Datta Meghe College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>27</td>
						<td style=min-width:50px>Shubham Vijay Chhipa</td>
						<td style=min-width:50px>Datta meghe college of engineering,airoli,navi mumbai</td>
					</tr>
					<tr>
						<td style=min-width:50px>28</td>
						<td style=min-width:50px>Chetan Sharma</td>
						<td style=min-width:50px>Dilkap College of Engineering and management Studies</td>
					</tr>
					<tr>
						<td style=min-width:50px>29</td>
						<td style=min-width:50px>Aadesh Puthran</td>
						<td style=min-width:50px>Dilkap Research Institute of Engineering and Management Studies</td>
					</tr>
					<tr>
						<td style=min-width:50px>30</td>
						<td style=min-width:50px>Lovefaith Dinesh Narang</td>
						<td style=min-width:50px>Dilkap Research Institute of engineering and management, Neral</td>
					</tr>
					<tr>
						<td style=min-width:50px>31</td>
						<td style=min-width:50px>Pawankumar Maurya</td>
						<td style=min-width:50px>Don Bosco Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>32</td>
						<td style=min-width:50px>Ankita Vijay Palande</td>
						<td style=min-width:50px>Dr. Babasaheb Ambedkar technological University , Lonere.</td>
					</tr>
					<tr>
						<td style=min-width:50px>33</td>
						<td style=min-width:50px>Shubham Tilak Irle</td>
						<td style=min-width:50px>Dr. Babasaheb Ambedkar Technological University,Lonere</td>
					</tr>
					<tr>
						<td style=min-width:50px>34</td>
						<td style=min-width:50px>Poorva Kishor Thakur</td>
						<td style=min-width:50px>Dr. Babasaheb Ambedkar Technological University,Lonere</td>
					</tr>
					<tr>
						<td style=min-width:50px>35</td>
						<td style=min-width:50px>Riyazuddin Manihar</td>
						<td style=min-width:50px>Father Conceicao Rodrigues College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>36</td>
						<td style=min-width:50px>Ankit Jaiswal</td>
						<td style=min-width:50px>FCRIT,VASHI</td>
					</tr>
					<tr>
						<td style=min-width:50px>37</td>
						<td style=min-width:50px>Ansari Mahedin Husain Maqbool Husain</td>
						<td style=min-width:50px>FCRIT,VASHI</td>
					</tr>
					<tr>
						<td style=min-width:50px>38</td>
						<td style=min-width:50px>Saurabh Vinay Uparkar</td>
						<td style=min-width:50px>Finolex Academy of Management and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>39</td>
						<td style=min-width:50px>Sourabh Madhusudan Kadam</td>
						<td style=min-width:50px>Finolexs Academy of Management and Technology,Ratnagiri</td>
					</tr>
					<tr>
						<td style=min-width:50px>40</td>
						<td style=min-width:50px>Edelquinn Mendes</td>
						<td style=min-width:50px>Fr. C. Rodrigues Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>41</td>
						<td style=min-width:50px>Nadar Jesline Shilba Martin</td>
						<td style=min-width:50px>Fr.C Rodrigues Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>42</td>
						<td style=min-width:50px>Alisha Kerubhau Walunj</td>
						<td style=min-width:50px>Fr.Conceicao Rodrigues Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>43</td>
						<td style=min-width:50px>Annette Suresh</td>
						<td style=min-width:50px>Fr.Conceicao Rodrigues Institute of Technology,Vashi</td>
					</tr>
					<tr>
						<td style=min-width:50px>44</td>
						<td style=min-width:50px>Toshal Diwakar Agashe</td>
						<td style=min-width:50px>G. V. Acharya Polytechnic Polytechnic College</td>
					</tr>
					<tr>
						<td style=min-width:50px>45</td>
						<td style=min-width:50px>Tejoy Vachharajani</td>
						<td style=min-width:50px>GH Patel College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>46</td>
						<td style=min-width:50px>Akanksha Milind Khandekar</td>
						<td style=min-width:50px>Gokhale Education Soicety R.H.Sapat.C.O.E</td>
					</tr>
					<tr>
						<td style=min-width:50px>47</td>
						<td style=min-width:50px>Bhatt Atri Nikhilkumar</td>
						<td style=min-width:50px>Government Engineering college, Bharuch</td>
					</tr>
					<tr>
						<td style=min-width:50px>48</td>
						<td style=min-width:50px>Savaliya Hirenkumar Bharatbhai</td>
						<td style=min-width:50px>Government Engineering College, Gandhinagar</td>
					</tr>
					<tr>
						<td style=min-width:50px>49</td>
						<td style=min-width:50px>Karan Dhanwani</td>
						<td style=min-width:50px>Gujarat Technological University</td>
					</tr>
					<tr>
						<td style=min-width:50px>50</td>
						<td style=min-width:50px>Akula Tarun Krishna</td>
						<td style=min-width:50px>Holy Mary Institute of Technology and science</td>
					</tr>
					<tr>
						<td style=min-width:50px>51</td>
						<td style=min-width:50px>Anirudh Sharma</td>
						<td style=min-width:50px>J.B Institute of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>52</td>
						<td style=min-width:50px>Neha Shivchandra Prasad</td>
						<td style=min-width:50px>Jawahar Education Society's of Annasaheb Chudaman College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>53</td>
						<td style=min-width:50px>Shamal Madhukar Dalvi</td>
						<td style=min-width:50px>K C College of Engineering and Management Studies and Research</td>
					</tr>
					<tr>
						<td style=min-width:50px>54</td>
						<td style=min-width:50px>Kaizer Zarir Mogal</td>
						<td style=min-width:50px>K. J. Somaiya College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>55</td>
						<td style=min-width:50px>Girima Dusankar</td>
						<td style=min-width:50px>K.C College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>56</td>
						<td style=min-width:50px>Sakshi Tirthraj Tiwari</td>
						<td style=min-width:50px>K.C College Of Engineering & Management Studies & Research Thane</td>
					</tr>
					<tr>
						<td style=min-width:50px>57</td>
						<td style=min-width:50px>Pragati Manoj Sahu</td>
						<td style=min-width:50px>K.C. College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>58</td>
						<td style=min-width:50px>Kamlesh Gupta</td>
						<td style=min-width:50px>K.C. college of Engineering and Management Studies and Research</td>
					</tr>
					<tr>
						<td style=min-width:50px>59</td>
						<td style=min-width:50px>Vinita Vijay Sable</td>
						<td style=min-width:50px>K.C.College Of Engineering,Thane</td>
					</tr>
					<tr>
						<td style=min-width:50px>60</td>
						<td style=min-width:50px>Pratiksha Bhagwat</td>
						<td style=min-width:50px>K.J.Somaiya College of Enginnering,Vidyavihar</td>
					</tr>
					<tr>
						<td style=min-width:50px>61</td>
						<td style=min-width:50px>Snehal Gund</td>
						<td style=min-width:50px>kakinada institute of engineering and technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>62</td>
						<td style=min-width:50px>Vishal Dalvi</td>
						<td style=min-width:50px>KC College</td>
					</tr>
					<tr>
						<td style=min-width:50px>63</td>
						<td style=min-width:50px>Abhishek Arjun Dhanwade</td>
						<td style=min-width:50px>kc college of engineering , thane</td>
					</tr>
					<tr>
						<td style=min-width:50px>64</td>
						<td style=min-width:50px>Mushkan Tisekar</td>
						<td style=min-width:50px>kc college thane</td>
					</tr>
					<tr>
						<td style=min-width:50px>65</td>
						<td style=min-width:50px>Priti Chouhan</td>
						<td style=min-width:50px>KCCEMSR</td>
					</tr>
					<tr>
						<td style=min-width:50px>66</td>
						<td style=min-width:50px>Tarun Tejbhan Tiwari</td>
						<td style=min-width:50px>KCCOE,THANE</td>
					</tr>
					<tr>
						<td style=min-width:50px>67</td>
						<td style=min-width:50px>Aafrin Irshad Ali Siddiqui</td>
						<td style=min-width:50px>kj somaiya institute of engineering and information technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>68</td>
						<td style=min-width:50px>Ajilin Solomy</td>
						<td style=min-width:50px>KJ.SOMAIYA INSTITUTE OF ENGINEERING AND INFORMATION TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>69</td>
						<td style=min-width:50px>Harshil Ketan Parmar</td>
						<td style=min-width:50px>KJSIEIT</td>
					</tr>
					<tr>
						<td style=min-width:50px>70</td>
						<td style=min-width:50px>Siddhant Suresh Singh</td>
						<td style=min-width:50px>Konkan Gyanpeet College of Engineering Karjat</td>
					</tr>
					<tr>
						<td style=min-width:50px>71</td>
						<td style=min-width:50px>Raghuvanshmani Virendra Chauhan</td>
						<td style=min-width:50px>Konkan Gyanpeeth College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>72</td>
						<td style=min-width:50px>Rakesh Raingaram Choudhary</td>
						<td style=min-width:50px>KONKAN GYANPEETH COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>73</td>
						<td style=min-width:50px>Arbaaz Salim Sayyed</td>
						<td style=min-width:50px>Konkan Gyanpeeth College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>74</td>
						<td style=min-width:50px>Samruddhi Sandeep Sagvekar</td>
						<td style=min-width:50px>Konkan Gyanpeeth College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>75</td>
						<td style=min-width:50px>Ajay Subhash Sawant</td>
						<td style=min-width:50px>Lokmanya Tilak COllege of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>76</td>
						<td style=min-width:50px>Ketan Vasant Suroshe</td>
						<td style=min-width:50px>Lokmanya Tilak college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>77</td>
						<td style=min-width:50px>Sapana Chinchali</td>
						<td style=min-width:50px>LOKMANYA TILAK COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>78</td>
						<td style=min-width:50px>Khizar Ansari</td>
						<td style=min-width:50px>Lokmanya Tilak College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>79</td>
						<td style=min-width:50px>Hitesh Vimlesh Gupta</td>
						<td style=min-width:50px>Lokmanya Tilak College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>80</td>
						<td style=min-width:50px>Sumayata Sahu</td>
						<td style=min-width:50px>Lokmanya Tilak College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>81</td>
						<td style=min-width:50px>Ambekar Nikhil Krishna</td>
						<td style=min-width:50px>Lokmanya Tilak College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>82</td>
						<td style=min-width:50px>Shivangi Gautam</td>
						<td style=min-width:50px>Lokmanya Tilak College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>83</td>
						<td style=min-width:50px>Harshada Dahake</td>
						<td style=min-width:50px>Lokmanya Tilak College of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>84</td>
						<td style=min-width:50px>Suraj Sanjay Shinde</td>
						<td style=min-width:50px>Lokmanya Tilak College of Engineering, Koparkhairane</td>
					</tr>
					<tr>
						<td style=min-width:50px>85</td>
						<td style=min-width:50px>Rahul Bipin Surte</td>
						<td style=min-width:50px>M. H. Saboo Siddik College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>86</td>
						<td style=min-width:50px>Saquib Ahmed Momin Murtuza</td>
						<td style=min-width:50px>M.H SABOO SIDDIK COE</td>
					</tr>
					<tr>
						<td style=min-width:50px>87</td>
						<td style=min-width:50px>Altamash Akram Qazi</td>
						<td style=min-width:50px>M.H Saboo Siddik College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>88</td>
						<td style=min-width:50px>Siddique Mohammad Asim</td>
						<td style=min-width:50px>M.H SABOO SIDDIK COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>89</td>
						<td style=min-width:50px>Taniya Majid Fansupkar</td>
						<td style=min-width:50px>M.H Saboo Siddik College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>90</td>
						<td style=min-width:50px>Vasim Khan</td>
						<td style=min-width:50px>M.H. Saboo Siddik College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>91</td>
						<td style=min-width:50px>Ansari Sabah Shakil Ahmed</td>
						<td style=min-width:50px>M.H. Saboo Siddik College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>92</td>
						<td style=min-width:50px>Siddesh Sanjay Koilkar</td>
						<td style=min-width:50px>M.H.SABOO SIDDIK COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>93</td>
						<td style=min-width:50px>Taher Kutarwadli</td>
						<td style=min-width:50px>M.H.Saboo Siddik College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>94</td>
						<td style=min-width:50px>Tanvi Rajendra Bagul</td>
						<td style=min-width:50px>Mahatma Gandhi Mission's college of Engineering and Technology,Kamothe,Navi Mumbai-410 209</td>
					</tr>
					<tr>
						<td style=min-width:50px>95</td>
						<td style=min-width:50px>Mohammad Hasnain Rajan</td>
						<td style=min-width:50px>MCT's Rajiv Gandhi Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>96</td>
						<td style=min-width:50px>Prashant Samjay Patil</td>
						<td style=min-width:50px>MGMCET</td>
					</tr>
					<tr>
						<td style=min-width:50px>97</td>
						<td style=min-width:50px>Mahesh Bhaskar Myana</td>
						<td style=min-width:50px>MGM's College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>98</td>
						<td style=min-width:50px>Rasika Jayprakash Thakur</td>
						<td style=min-width:50px>MUMBAI UNIVERSITY</td>
					</tr>
					<tr>
						<td style=min-width:50px>99</td>
						<td style=min-width:50px>Aakash Mishra</td>
						<td style=min-width:50px>Mumbai University</td>
					</tr>
					<tr>
						<td style=min-width:50px>100</td>
						<td style=min-width:50px>Aditi</td>
						<td style=min-width:50px>Mumbai university</td>
					</tr>
					<tr>
						<td style=min-width:50px>101</td>
						<td style=min-width:50px>Kanchan Ravindra Jha</td>
						<td style=min-width:50px>MUMBAI UNIVERSITY</td>
					</tr>
					<tr>
						<td style=min-width:50px>102</td>
						<td style=min-width:50px>Saish Sawant</td>
						<td style=min-width:50px>Mumbai University</td>
					</tr>
					<tr>
						<td style=min-width:50px>103</td>
						<td style=min-width:50px>Pranay Talekar</td>
						<td style=min-width:50px>Mumbai University</td>
					</tr>
					<tr>
						<td style=min-width:50px>104</td>
						<td style=min-width:50px>Ujwal Satish Kawre</td>
						<td style=min-width:50px>pillai college of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>105</td>
						<td style=min-width:50px>Aparna Ashok Kumar</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>106</td>
						<td style=min-width:50px>Abhishek Dhekane</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>107</td>
						<td style=min-width:50px>Clement Fernandes</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>108</td>
						<td style=min-width:50px>Asmita Shetty</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>109</td>
						<td style=min-width:50px>Nandhini Lakshmanaperumal</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>110</td>
						<td style=min-width:50px>Pranali Prashant Pashte</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>111</td>
						<td style=min-width:50px>Vishnu Balakrishnan Nair</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>112</td>
						<td style=min-width:50px>Mebin Philip</td>
						<td style=min-width:50px>Pillai College of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>113</td>
						<td style=min-width:50px>Salman Salahuddin Mapkar</td>
						<td style=min-width:50px>Pillai College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>114</td>
						<td style=min-width:50px>Darshan Dhanaji Maskar</td>
						<td style=min-width:50px>PILLAI COLLEGE OF ENGINEERING, NEW PANVEL</td>
					</tr>
					<tr>
						<td style=min-width:50px>115</td>
						<td style=min-width:50px>Paul Jonathan Sambyal</td>
						<td style=min-width:50px>Pillai HOC College of engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>116</td>
						<td style=min-width:50px>Bhavya Shah</td>
						<td style=min-width:50px>Pillai HOC College Of Engineering And Technology, Rasayani</td>
					</tr>
					<tr>
						<td style=min-width:50px>117</td>
						<td style=min-width:50px>Rahul Raghunath Khane</td>
						<td style=min-width:50px>Pillai HOC College of Engineering and Technology,Rasayani</td>
					</tr>
					<tr>
						<td style=min-width:50px>118</td>
						<td style=min-width:50px>Bhavna Shivdas Shinde</td>
						<td style=min-width:50px>Pillai HOC College of Engineering and Technology,rasayni</td>
					</tr>
					<tr>
						<td style=min-width:50px>119</td>
						<td style=min-width:50px>Rakshasorte</td>
						<td style=min-width:50px>pillaicollegeofengineering,panvel</td>
					</tr>
					<tr>
						<td style=min-width:50px>120</td>
						<td style=min-width:50px>Shaikh Aadil S Mohmed</td>
						<td style=min-width:50px>R.N.G. Patel Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>121</td>
						<td style=min-width:50px>Rohit Shrirang Jadhav</td>
						<td style=min-width:50px>RAIT</td>
					</tr>
					<tr>
						<td style=min-width:50px>122</td>
						<td style=min-width:50px>Parth Shinde</td>
						<td style=min-width:50px>Rajiv Gandhi Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>123</td>
						<td style=min-width:50px>Kishan Rajesh Tripathi</td>
						<td style=min-width:50px>Rajiv Gandhi Institute of technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>124</td>
						<td style=min-width:50px>Dakshata Lahu Naik</td>
						<td style=min-width:50px>RAMRAO ADIK INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>125</td>
						<td style=min-width:50px>Samidha Prabhakar Mhatre</td>
						<td style=min-width:50px>Ramrao Adik Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>126</td>
						<td style=min-width:50px>Aditya Shrinivas Kyatham</td>
						<td style=min-width:50px>Ramrao Adik Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>127</td>
						<td style=min-width:50px>Pooja Dattatray Shinde</td>
						<td style=min-width:50px>ramrao adik institute of technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>128</td>
						<td style=min-width:50px>Sagar Ramesh Pardeshi</td>
						<td style=min-width:50px>Ramrao Adik Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>129</td>
						<td style=min-width:50px>Arbaaz Ayub Makandar</td>
						<td style=min-width:50px>Ramrao Adik Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>130</td>
						<td style=min-width:50px>Preeti Satyawan Naik</td>
						<td style=min-width:50px>Ramrao Adik Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>131</td>
						<td style=min-width:50px>Prakhar Ramesh Pandey</td>
						<td style=min-width:50px>RAMRAO ADIK INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>132</td>
						<td style=min-width:50px>Bhatt Jinita Monika</td>
						<td style=min-width:50px>Ramrao Adik Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>133</td>
						<td style=min-width:50px>Juveria Moahmmed Rafique Welder</td>
						<td style=min-width:50px>Rizvi College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>134</td>
						<td style=min-width:50px>Zainul Abedin Shaikh</td>
						<td style=min-width:50px>Rizvi College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>135</td>
						<td style=min-width:50px>Rehan Razamauriff Memon</td>
						<td style=min-width:50px>Rizvi College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>136</td>
						<td style=min-width:50px>Husain Juzer Bootwala</td>
						<td style=min-width:50px>Rizvi College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>137</td>
						<td style=min-width:50px>Shweta Ravindra Bhoi</td>
						<td style=min-width:50px>Sandip Institute of Technology and Research Centre</td>
					</tr>
					<tr>
						<td style=min-width:50px>138</td>
						<td style=min-width:50px>Ruchi Pravin Jain</td>
						<td style=min-width:50px>Saraswati college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>139</td>
						<td style=min-width:50px>Suraj Indreah Maurya</td>
						<td style=min-width:50px>Saraswati college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>140</td>
						<td style=min-width:50px>Ria Vijay Nagaonkar</td>
						<td style=min-width:50px>Saraswati College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>141</td>
						<td style=min-width:50px>Rahul Rajendra Waghmare</td>
						<td style=min-width:50px>Saraswati college of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>142</td>
						<td style=min-width:50px>Gajanan Maruti Ardalkar</td>
						<td style=min-width:50px>Saraswati college of Engineering, Kharghar</td>
					</tr>
					<tr>
						<td style=min-width:50px>143</td>
						<td style=min-width:50px>Komal Prakashchandra Patra</td>
						<td style=min-width:50px>Saraswati college of Engineering,Kharghar</td>
					</tr>
					<tr>
						<td style=min-width:50px>144</td>
						<td style=min-width:50px>Abhay Pawan Gupta</td>
						<td style=min-width:50px>Saraswati college Of Engineering,Kharghar</td>
					</tr>
					<tr>
						<td style=min-width:50px>145</td>
						<td style=min-width:50px>Purtee Bhise</td>
						<td style=min-width:50px>Shah & Anchor Kutchhi Engineering College</td>
					</tr>
					<tr>
						<td style=min-width:50px>146</td>
						<td style=min-width:50px>Disha Gajanan Dahake</td>
						<td style=min-width:50px>Shah and Anchor Kutchhi Engineering College</td>
					</tr>
					<tr>
						<td style=min-width:50px>147</td>
						<td style=min-width:50px>Ankita Ashish Shitole</td>
						<td style=min-width:50px>SHAH AND ANCHOR KUTCHHI ENGINEERING COLLEGE</td>
					</tr>
					<tr>
						<td style=min-width:50px>148</td>
						<td style=min-width:50px>Pranjal Bhat</td>
						<td style=min-width:50px>Shah and Anchor Kutchhi Engineering College</td>
					</tr>
					<tr>
						<td style=min-width:50px>149</td>
						<td style=min-width:50px>Aditya Anil Shukla</td>
						<td style=min-width:50px>Shivajirao S Jondhale College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>150</td>
						<td style=min-width:50px>Aaditya Kasibhotla</td>
						<td style=min-width:50px>Shivajirao S Jondhale College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>151</td>
						<td style=min-width:50px>Prasad Dattaram Sanas</td>
						<td style=min-width:50px>Shivajirao S Jondhale College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>152</td>
						<td style=min-width:50px>Shristi Singh</td>
						<td style=min-width:50px>shivajirao s jondhale college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>153</td>
						<td style=min-width:50px>Saurabh</td>
						<td style=min-width:50px>Shivajirao.S Jhondhale college of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>154</td>
						<td style=min-width:50px>Singh Atul Nagendra Pratap</td>
						<td style=min-width:50px>Shree L.r.tiwari college of engineeering</td>
					</tr>
					<tr>
						<td style=min-width:50px>155</td>
						<td style=min-width:50px>Singh Riti Vinodkumar</td>
						<td style=min-width:50px>SHREE L.RB TIWARI COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>156</td>
						<td style=min-width:50px>Krishna Gupta</td>
						<td style=min-width:50px>Shree LR Tiwari College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>157</td>
						<td style=min-width:50px>Jayesh Choudhary</td>
						<td style=min-width:50px>Shree LR Tiwari College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>158</td>
						<td style=min-width:50px>Yash Ameet Kokane</td>
						<td style=min-width:50px>SIES Graduate School of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>159</td>
						<td style=min-width:50px>Kush Shah</td>
						<td style=min-width:50px>Sies graduate school of technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>160</td>
						<td style=min-width:50px>Kokila Thanaselvam Nadar</td>
						<td style=min-width:50px>SIES GRADUATE SCHOOL OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>161</td>
						<td style=min-width:50px>Jnanavi Gowda</td>
						<td style=min-width:50px>SIES Graduate School of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>162</td>
						<td style=min-width:50px>Kavya Nathan</td>
						<td style=min-width:50px>Sies Graduate School of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>163</td>
						<td style=min-width:50px>Mahalakshmi Chellappan</td>
						<td style=min-width:50px>Sies Graduate School Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>164</td>
						<td style=min-width:50px>Roshan Sadashiv Shetty</td>
						<td style=min-width:50px>SIES GST</td>
					</tr>
					<tr>
						<td style=min-width:50px>165</td>
						<td style=min-width:50px>Sashank Kashyap</td>
						<td style=min-width:50px>SIES GST NERUL</td>
					</tr>
					<tr>
						<td style=min-width:50px>166</td>
						<td style=min-width:50px>Sakarwala Zuzer Zahid</td>
						<td style=min-width:50px>SIGCE</td>
					</tr>
					<tr>
						<td style=min-width:50px>167</td>
						<td style=min-width:50px>Divyesh C. Govekar</td>
						<td style=min-width:50px>Smt. Indira Gandhi College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>168</td>
						<td style=min-width:50px>Akash Upendra Prajapati</td>
						<td style=min-width:50px>Smt. Indira Gandhi College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>169</td>
						<td style=min-width:50px>Akanksha Danbahadur Yadav</td>
						<td style=min-width:50px>SNDT Women's University</td>
					</tr>
					<tr>
						<td style=min-width:50px>170</td>
						<td style=min-width:50px>Nikhil Mishra</td>
						<td style=min-width:50px>ST FRANCIS INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>171</td>
						<td style=min-width:50px>Shivani Milind Thakur</td>
						<td style=min-width:50px>St John College of Engineering and Management</td>
					</tr>
					<tr>
						<td style=min-width:50px>172</td>
						<td style=min-width:50px>Pawan Sudhir Karkal</td>
						<td style=min-width:50px>St. Francis Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>173</td>
						<td style=min-width:50px>Snehal Ravindra Dalvi</td>
						<td style=min-width:50px>ST. JOHN COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>174</td>
						<td style=min-width:50px>Mukesh Saligram Paliwal</td>
						<td style=min-width:50px>St. john college of engineering and management</td>
					</tr>
					<tr>
						<td style=min-width:50px>175</td>
						<td style=min-width:50px>Rohit Pandey</td>
						<td style=min-width:50px>St. John College of Engineering and Management</td>
					</tr>
					<tr>
						<td style=min-width:50px>176</td>
						<td style=min-width:50px>Monika Dilip Patil</td>
						<td style=min-width:50px>St. John College of Engineering and Management</td>
					</tr>
					<tr>
						<td style=min-width:50px>177</td>
						<td style=min-width:50px>Revati Suresh Warang</td>
						<td style=min-width:50px>St. John College of Engineering and Management</td>
					</tr>
					<tr>
						<td style=min-width:50px>178</td>
						<td style=min-width:50px>Meghna Pembharthi</td>
						<td style=min-width:50px>ST.FRANCIS INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>179</td>
						<td style=min-width:50px>Sresht Chavan</td>
						<td style=min-width:50px>St.Francis Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>180</td>
						<td style=min-width:50px>Sayli Talawadekar</td>
						<td style=min-width:50px>St.Francis Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>181</td>
						<td style=min-width:50px>Singh Ankita Kumari Dharmrajprasad</td>
						<td style=min-width:50px>St.John College of Engineering And Management</td>
					</tr>
					<tr>
						<td style=min-width:50px>182</td>
						<td style=min-width:50px>Tarun Goud</td>
						<td style=min-width:50px>Symbisosis University of Applied Sciences</td>
					</tr>
					<tr>
						<td style=min-width:50px>183</td>
						<td style=min-width:50px>Suyash Saxena</td>
						<td style=min-width:50px>Terna Engineering College</td>
					</tr>
					<tr>
						<td style=min-width:50px>184</td>
						<td style=min-width:50px>Deevanshu Kishor Khatri</td>
						<td style=min-width:50px>Thadomal Shahani Engineering College</td>
					</tr>
					<tr>
						<td style=min-width:50px>185</td>
						<td style=min-width:50px>Sonali Choudhary</td>
						<td style=min-width:50px>Thadomal Shahani Engineering College</td>
					</tr>
					<tr>
						<td style=min-width:50px>186</td>
						<td style=min-width:50px>Rohit Nawani</td>
						<td style=min-width:50px>Thadomal Shahani Engineering College</td>
					</tr>
					<tr>
						<td style=min-width:50px>187</td>
						<td style=min-width:50px>Pranali Vithal Nalawade</td>
						<td style=min-width:50px>Thakur College of Engineering & Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>188</td>
						<td style=min-width:50px>Mukul Suvarna</td>
						<td style=min-width:50px>Thakur College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>189</td>
						<td style=min-width:50px>Jay Bakulesh Mithani</td>
						<td style=min-width:50px>THAKUR COLLEGE OF ENGINEERING AND TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>190</td>
						<td style=min-width:50px>Rahul Pradeep Yadav</td>
						<td style=min-width:50px>Thakur College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>191</td>
						<td style=min-width:50px>Rajan Ravindra Jha</td>
						<td style=min-width:50px>Thakur College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>192</td>
						<td style=min-width:50px>Rajan Vijaykumar Singh</td>
						<td style=min-width:50px>Thakur College Of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>193</td>
						<td style=min-width:50px>Aman Nailwal</td>
						<td style=min-width:50px>Thakur college of engineering and technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>194</td>
						<td style=min-width:50px>Sanket Sanjaypratap Singh</td>
						<td style=min-width:50px>Thakur college of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>195</td>
						<td style=min-width:50px>Priyank Bharat Dave</td>
						<td style=min-width:50px>Thakur College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>196</td>
						<td style=min-width:50px>Vivek Singh</td>
						<td style=min-width:50px>Thakur College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>197</td>
						<td style=min-width:50px>Prathamesh Vijay More</td>
						<td style=min-width:50px>Theem College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>198</td>
						<td style=min-width:50px>Anisa Gilani</td>
						<td style=min-width:50px>Theem college of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>199</td>
						<td style=min-width:50px>Jainam Dinesh Shah</td>
						<td style=min-width:50px>Universal College of engineeering</td>
					</tr>
					<tr>
						<td style=min-width:50px>200</td>
						<td style=min-width:50px>Prachi Vijesh Parekh</td>
						<td style=min-width:50px>Universal College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>201</td>
						<td style=min-width:50px>Amar Nandlal Vishwakarma</td>
						<td style=min-width:50px>Universal College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>202</td>
						<td style=min-width:50px>Jay Nimesh Trivedi</td>
						<td style=min-width:50px>Universal College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>203</td>
						<td style=min-width:50px>Ganesh Santosh Tawde</td>
						<td style=min-width:50px>Universal College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>204</td>
						<td style=min-width:50px>Harsh Majithia</td>
						<td style=min-width:50px>universal college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>205</td>
						<td style=min-width:50px>Naresh Yenagandula</td>
						<td style=min-width:50px>Universal college of engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>206</td>
						<td style=min-width:50px>Shaif Jawed</td>
						<td style=min-width:50px>Universal College Of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>207</td>
						<td style=min-width:50px>Pankajkumar Purohit</td>
						<td style=min-width:50px>Universal College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>208</td>
						<td style=min-width:50px>Divesh Manish Koli</td>
						<td style=min-width:50px>Universal College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>209</td>
						<td style=min-width:50px>Priyank Sheth</td>
						<td style=min-width:50px>UNIVERSAL COLLEGE OF ENGINEERING</td>
					</tr>
					<tr>
						<td style=min-width:50px>210</td>
						<td style=min-width:50px>Aomkar Arvind Jagdale</td>
						<td style=min-width:50px>Universal College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>211</td>
						<td style=min-width:50px>Dhawal Bholenath Mishra</td>
						<td style=min-width:50px>Universal College of Engineering</td>
					</tr>
					<tr>
						<td style=min-width:50px>212</td>
						<td style=min-width:50px>Albin Paulson Kuruthukulangara</td>
						<td style=min-width:50px>University of Mumbai</td>
					</tr>
					<tr>
						<td style=min-width:50px>213</td>
						<td style=min-width:50px>Soham Santosh Kubal</td>
						<td style=min-width:50px>University of Mumbai</td>
					</tr>
					<tr>
						<td style=min-width:50px>214</td>
						<td style=min-width:50px>Momin Ayesha Mohd Iqbal</td>
						<td style=min-width:50px>Usha Mittal Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>215</td>
						<td style=min-width:50px>Kajal Kailas Chavan</td>
						<td style=min-width:50px>Veermata Jijabai Technological Institute Matunga</td>
					</tr>
					<tr>
						<td style=min-width:50px>216</td>
						<td style=min-width:50px>Muskan Jetha Khatri</td>
						<td style=min-width:50px>VESIT</td>
					</tr>
					<tr>
						<td style=min-width:50px>217</td>
						<td style=min-width:50px>Mrunal Prakash Tambat</td>
						<td style=min-width:50px>VESIT</td>
					</tr>
					<tr>
						<td style=min-width:50px>218</td>
						<td style=min-width:50px>Hatim Shabbir Patrawala</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>219</td>
						<td style=min-width:50px>Ajay Babaji Lanke</td>
						<td style=min-width:50px>Vidyalankar Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>220</td>
						<td style=min-width:50px>Vrushabh Vikas Patil</td>
						<td style=min-width:50px>Vidyalankar Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>221</td>
						<td style=min-width:50px>Shubham Ravindra Dasarwar</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>222</td>
						<td style=min-width:50px>Atharva Milind Joshi</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>223</td>
						<td style=min-width:50px>Snehal Subhash Bodekar</td>
						<td style=min-width:50px>Vidyalankar Institute of technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>224</td>
						<td style=min-width:50px>Janhavi Ashish Paste</td>
						<td style=min-width:50px>VIDYALANKAR INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>225</td>
						<td style=min-width:50px>Hrishikesh Kulkarni</td>
						<td style=min-width:50px>Vidyalankar Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>226</td>
						<td style=min-width:50px>Babli Gupta</td>
						<td style=min-width:50px>Vidyalankar Institute Of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>227</td>
						<td style=min-width:50px>Vaishnavi Aswale</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>228</td>
						<td style=min-width:50px>Vishal Nanda Kamtam</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>229</td>
						<td style=min-width:50px>Amrita Raj</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>230</td>
						<td style=min-width:50px>Pallavi Ramesh Kalambate</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>231</td>
						<td style=min-width:50px>Shruti Khetade</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>232</td>
						<td style=min-width:50px>Prasanna Thirupathi Mandapalli</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>233</td>
						<td style=min-width:50px>Adarsh Gopi Kizhakoodan</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>234</td>
						<td style=min-width:50px>Kirti Suresh Khairnar</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>235</td>
						<td style=min-width:50px>Shweta Dattaram Pawar</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>236</td>
						<td style=min-width:50px>Prajakta Shantaram Arote</td>
						<td style=min-width:50px>Vidyalankar Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>237</td>
						<td style=min-width:50px>Tushar Mistry</td>
						<td style=min-width:50px>Vidyavardhini College of Engg. and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>238</td>
						<td style=min-width:50px>Jenil Amrish Shah</td>
						<td style=min-width:50px>Vidyavardhini college of engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>239</td>
						<td style=min-width:50px>Karthik Shetty</td>
						<td style=min-width:50px>Vidyavardhini's College Of Engineering & Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>240</td>
						<td style=min-width:50px>Garvit Garg</td>
						<td style=min-width:50px>Vidyavardhini's College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>241</td>
						<td style=min-width:50px>Swapneel Vaidya</td>
						<td style=min-width:50px>Vidyavardhini's College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>242</td>
						<td style=min-width:50px>Prajakta Rajkumar Meshram</td>
						<td style=min-width:50px>Vidyavardhini's College of Engineering and Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>243</td>
						<td style=min-width:50px>Siddhesh Ashok Sawant</td>
						<td style=min-width:50px>Vishwaniketan's iMEET</td>
					</tr>
					<tr>
						<td style=min-width:50px>244</td>
						<td style=min-width:50px>Ritendrapratapsingh J Rajput</td>
						<td style=min-width:50px>Vishwaniketan's iMEET</td>
					</tr>
					<tr>
						<td style=min-width:50px>245</td>
						<td style=min-width:50px>Mohitkumar Jayprakash Gupta</td>
						<td style=min-width:50px>Viva Institute of Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>246</td>
						<td style=min-width:50px>Harsh Pankaj Marthak</td>
						<td style=min-width:50px>VIVA INSTITUTE OF TECHNOLOGY</td>
					</tr>
					<tr>
						<td style=min-width:50px>247</td>
						<td style=min-width:50px>Seema Prakashlal Vidhrani</td>
						<td style=min-width:50px>Vivekanand Education Society Institute of technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>248</td>
						<td style=min-width:50px>Mayur Raju Thikare</td>
						<td style=min-width:50px>VIVEKANAND EDUCATION SOCIETY INSTITUTE OF TECHNOLOGY, CHEMBUR</td>
					</tr>
					<tr>
						<td style=min-width:50px>249</td>
						<td style=min-width:50px>Dakshita Damodar Vanga</td>
						<td style=min-width:50px>Watumull Institute</td>
					</tr>
					<tr>
						<td style=min-width:50px>250</td>
						<td style=min-width:50px>Sahu Ashish Kumar Shyam Sunder</td>
						<td style=min-width:50px>Watumull Institute</td>
					</tr>
					<tr>
						<td style=min-width:50px>251</td>
						<td style=min-width:50px>Kunal Rajesh Acharya</td>
						<td style=min-width:50px>Watumull Institute of Electronics Engineering and Computer Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>252</td>
						<td style=min-width:50px>Sagar Santosh Adulkar</td>
						<td style=min-width:50px>Watumull Institute of Electronics Engineering and Computer Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>253</td>
						<td style=min-width:50px>Paras Avinash Kadam</td>
						<td style=min-width:50px>Watumull Institute of Electronics Engineering and Computer Technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>254</td>
						<td style=min-width:50px>Sneha Subhash Chitale</td>
						<td style=min-width:50px>watumull institute of electronincs engineering and computer technology</td>
					</tr>
					<tr>
						<td style=min-width:50px>255</td>
						<td style=min-width:50px>Pritee Mahadev Kamthe</td>
						<td style=min-width:50px>Yadvarao Tasgoankar college of engineering and managment</td>
					</tr>


	<tr>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>

	</tr>
	</tbody>
</table>
</ul>
<!-- ************************************************************************** -->


</body>

</html>