{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Css File links -->
    <link rel="stylesheet" href="{% static 'tpo/Tolearn.css'%}">

    <!-- Google Fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


    <title>job4u.info</title>

  </head>

  <body>

    <header>

      <img  class = "stayLeft" src="{% static 'tpo/job4u.png'%}" alt="JOB4U-Logo">
      <div class="makeCenter"><p><span>A. P. SHAH INSTITUTE OF TECHNOLOGY</span></p></div>
      <div class="header-right">
<div class = "icons"><a href="https://www.facebook.com/tpoApsit/" target="_blank"><img src="{% static 'tpo/iconfinder_f-facebook_256_282470.png'%}" alt="Facebook"></a></div>
        <div class = "icons"><a href="https://www.instagram.com/job4u_info/" target="_blank"><img src="{% static 'tpo/iconfinder_Instagram_1298747.png'%}" alt="Instagram"></a></div>
        <div class = "icons"><a href="https://twitter.com/APSIT_THANE" target="_blank"><img src="{% static 'tpo/iconfinder_twitter_834708.png'%}" alt="Twitter"></a></div>
        <div class = "icons"><a href="https://www.linkedin.com/in/apsitthane/" target="_blank"><img src="{% static 'tpo/iconfinder_linkedin_386655.png'%}" alt="LinkedIn"></a></div>
      </div>

    </header>

    <div class="containerFK">

      <div class="FaisalKhan">
        <img  class = "faisalKhanjpg" src="{% static 'tpo/faisalsir.jpg'%}" alt="Faisal Khan">
        <p><a href="http://mu.ac.in/portal/" target="_blank"><span class = "makebold">Faisal Khan</span></a></p>
        <p> Head Placement Officer, APSIT</p>
        <!--<p>2020 Batch</p>-->
        <!-- <img class = "apsitlogo" src="APSIT (1).png" alt="APSIT-LOGO"> -->
      </div>

    </div>

  <div class="backgroundContainer">


    <div class="container1" id = "formStart">

        <img class = "companyLogo" src="{% static 'tpo/infosys.png'%}" alt="Company Name">
        <h2>Infosys Recruitment Drive for MU Non-Engineering Graduates</h2>
        <h2>2020 Batch</h2>
        <h3>Eligibility Criteria</h3>

    </div>

    <div class="container">

      <div class="image1">

        <img src="{% static 'tpo/IE1.PNG'%}" alt="Infosys Eligibility 1">

      </div>

      <div class="image2">

        <img src="{% static 'tpo/IE2.PNG'%}" alt="Infosys Eligibility 2">

      </div>

    </div>

    <div class="clear"></div>

    <div class="container2">

    <iframe id = "googleForm" src="https://docs.google.com/forms/d/e/1FAIpQLSdry4mRlN2GorueL5j8Sc814tYfAKjYddQCwxBb1nnywL36AA/viewform?embedded=true" width="100%" height="2869" frameborder="0" marginheight="0" marginwidth="0" onload="window.parent.parent.scrollTo(0,0)" scrolling = "no">Loading…</iframe>

    </div>

    <div class="linkForm">

      <a href="#googleForm">Click To fill Form</a>

    </div>

  </div>

  <footer id="footer">
    <p>&copy; Copyright <strong>TPO APSIT</strong>. All Rights Reserved</div>
    <p class = "credit">Designed by <a target = "_blank" href="https://in.linkedin.com/in/yash-sampat-9b89a7185?trk=people-guest_profile-result-card_result-card_full-click">Yash Sampat</a>, <a target = "_blank" href="https://in.linkedin.com/in/anujssmishra?trk=public_profile_browsemap_profile-result-card_result-card_full-click">Anuj Mishra</a>, and <a target = "_blank" href="https://in.linkedin.com/in/vedant-mhatre-575838185?trk=people-guest_profile-result-card_result-card_full-click">Vedant  Mhatre</a>
  </footer>

  </body>

</html>
