{% load static%}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>JOB4U Webinar</title>
	<link rel="stylesheet" type="text/css" href="{% static 'tpo/Webinar/style.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'tpo/Webinar/responsive.css' %}">
	<title>job4u.info</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

	<div class = "Container">
		<br>
		<!-- <div><img src="{ %static "tpo/Webinar/Screenshot (19).png" %}" class = "MainImage"></div> -->

		<a href="https://www.facebook.com/job4u.info/" class="fa fa-facebook" target="_blank"></a>
		<a href="https://twitter.com/u_job4?lang=en" class="fa fa-twitter" target="_blank"></a>
		<a href="https://www.linkedin.com/in/apsitthane/" class="fa fa-linkedin" target="_blank"></a>
		<a href="https://www.instagram.com/job4u_info/?hl=en" class="fa fa-instagram" target="_blank"></a>
		<a href="https://www.youtube.com/channel/UCUNUss0IyyYNaiDhNsOyBGQ" class="fa fa-youtube" target="_blank"></a>




	</div>

	<div class = "Container">
{% if messages %}
	    {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
			{{ message }}
	</div>
	    {% endfor %}
			{% endif %}

        <div class = "forMobile">
			<img src="{% static 'tpo/Webinar/Screenshot (19).png' %}"  class = "SideImage">
		</div>

		<!--<strong class="topicText">What’s next after 10th or 12th grade? </strong>-->


		<div class = "floatLeft">

			<div class="Descriptions">
				<!--<p class="floatLeft1">-->
				<!--    <strong>Topic</strong></p>-->
				<h3 class="floatRight1">
					What’s next after 12th grade or Diploma?
				</h3>
				<br>
			</div>

			<div class="clear"></div>

			<div class="Descriptions">
				<p class="floatLeft1"><strong>Description</strong></p>
				<p class="floatRight1">
					Expert / Mentor / Counsellor
Mr. Nilesh Gore, is a Career Coach by heart. He conducted various Trainings at various Institutes and Corporates.
<br>He will help you to clear your doubts about which career path to choose and how to plan and smoothly implement the plan to achieve your ultimate goal.
<br>We are living in challenging times! Mission of our session is to provide you information, inspiration and advice to you all young men and women in this crisis.
<br><br><strong>Who can join?</strong><br>
• 12th grade students<br>
• Diploma Students<br>
• Parents and Friends <br><br>

<strong>Key Features </strong>
<br>
• Professional career guidance <br>
• Planning Process and Timeline <br>
• Possible Career Options <br>
• Ask your questions , know all the answers  <br><br>
Help yourself or your friends to rebuild their skills and career. Make use of this opportunity…
				</p>
			</div>

			<div class="clear" ></div>

			<div class="Descriptions">
				<p class="floatLeft1"><strong>Date</strong></p>
				<strong class="floatRight1">
					10th May 2020
				</strong>
			</div>

			<div class="clear" ></div>

			<div class="Descriptions">
				<!--<p class="floatLeft1"><strong>Time</strong></p>-->
				<strong class="floatRight1">
					All the registered participants will receive the details about the online session soon.
				</strong>
			</div>

			<div class="clear" ></div>

		</div>


		<div class = "floatRight notforMobile">
			<img src="{% static 'tpo/Webinar/Screenshot (19).png' %}"  class = "SideImage">
		</div>


		<div class="clear" ></div>

	</div>

	<div class = "Container">


		<form method="POST" class = "notforMobile">
{% csrf_token %}

			<div class="floatLeft2">

				<div class="formElements">
					<label><strong>First name</strong></label><span style="color: red">*</span><br>
					<input name="Student_Name" type="text" id="fname" maxlength="64" required>
				</div>


				<div class="formElements">
					<label><strong>Email Address</strong></label><span style="color: red">*</span><br>
					<input name="Email" type="text" id="email" maxlength="100" required>
				</div>


				<div class="formElements">
					<label><strong>Phone</strong></label><span style="color: red">*</span><br>
					<input name="Mobile Number" type="text" id="phone" maxlength="10" required>
				</div>

				<div class="formElements">
					<label><strong>City</strong></label><span style="color: red">*</span><br>
					<input name="City" type="text"  maxlength="64" required>
				</div>


	 		</div>


			<div class="floatRight2 formElements">

				<div class="formElements">
					<label><strong>Last name</strong></label><span style="color: red">*</span>
					<input name="Student_Name2" type="text" id="lname" maxlength="64" required>
				</div>


				<div class="formElements">
					<label><strong>Confirm Email Address</strong></label><span style="color: red">*</span><br>
					<input name="Emaill" type="text" id="cemail" maxlength="100" required>
				</div>


				<div class="formElements">
					<label><strong>College/Organization</strong></label><span style="color: red">*</span><br>
					<input name="Organization" type="text" id="organization" maxlength="150" required>
				</div>

				<div class="formElements">
					<label><strong>Stream</strong></label><span style="color: red">*</span><br>
					<select name="Stream" class="quali" required>
					<option value="Science">Science</option>
    		        <option value="Commerce">Commerce</option>
    		        <option value="Arts">Arts</option>
    		        <option value="Diploma">Diploma</option>


					</select>
				</div>


	 		</div>


			<div class="clear" ></div>

<div class="required"><span style="color: red">*</span> Required information</div>

		<button class="registerButton">Register</button>
		</form>


		<form method="POST" class = "forMobile">
{% csrf_token %}

			<div class="floatLeft2">

				<div class="formElements">
					<label><strong>First name</strong></label><span style="color: red">*</span><br>
					<input name="Student_Name" type="text" id="fname" maxlength="64" required>
				</div>

                <div class="formElements">
					<label><strong>Last name</strong></label><span style="color: red">*</span>
					<input name="Student_Name2" type="text" id="lname" maxlength="64" required>
				</div>

				<div class="formElements">
					<label><strong>Email Address</strong></label><span style="color: red">*</span><br>
					<input name="Email" type="text" id="email" maxlength="100" required>
				</div>

	 		</div>


			<div class="floatRight2 formElements">

				<div class="formElements">
					<label><strong>Confirm Email Address</strong></label><span style="color: red">*</span><br>
					<input name="Emaill" type="text" id="cemail" maxlength="100" required>
				</div>

				<div class="formElements">
					<label><strong>Phone</strong></label><span style="color: red">*</span><br>
					<input name="Mobile Number" type="text" id="phone" maxlength="10" required>
				</div>

				<div class="formElements">
					<label><strong>College/Organization</strong></label><span style="color: red">*</span><br>
					<input name="Organization" type="text" id="organization" maxlength="150" required>
				</div>

				<div class="formElements">
					<label><strong>City</strong></label><span style="color: red">*</span><br>
					<input name="City" type="text"  maxlength="64" required>
				</div>

				<div class="formElements">
					<label><strong>Stream</strong></label><span style="color: red">*</span><br>
					<select name="Stream" class="quali" required>
					<option value="Science">Science</option>
    		        <option value="Commerce">Commerce</option>
    		        <option value="Arts">Arts</option>
    		        <option value="Diploma">Diploma</option>


					</select>
                </div>
	 		</div>


			<div class="clear" ></div>

<div class="required"><span style="color: red">*</span> Required information</div>

		<button class="registerButton">Register</button>
		</form>

	</div>



</body>
</html>
