{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Css File links -->
    <!--<link rel="stylesheet" href="InfosysRegistration.css">-->
    <link rel="stylesheet" href="{% static 'tpo/capgemini.css'%}">

    <!-- Javascript File links -->
    <!--<script src="main.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js "></script>-->
    <!--<script src="https://code.jquery.com/jquery-latest.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js "></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->


    <!-- Google Fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


    <title>job4u.info</title>

  </head>

  <body>

    <header>
      <!--<span><a class = "job4uLogo" href="https://www.job4u.info" target="_blank"><img class = "stayLeft" src="{% static 'tpo/job4u.png'%}" alt="JOB4U-Logo"></a></span>-->
      <img class = "stayLeft" src="{% static 'tpo/job4u.png'%}" alt="JOB4U-Logo">

      <div class="makeCenter"><p><span>A. P. SHAH INSTITUTE OF TECHNOLOGY</span></p></div>
      <div class="header-right">
<div class = "icons"><a href="https://www.facebook.com/tpoApsit/" target="_blank"><img src="{% static 'tpo/iconfinder_f-facebook_256_282470.png'%}" alt="Facebook"></a></div>
        <div class = "icons"><a href="https://www.instagram.com/job4u_info/" target="_blank"><img src="{% static 'tpo/iconfinder_Instagram_1298747.png'%}" alt="Instagram"></a></div>
        <div class = "icons"><a href="https://twitter.com/APSIT_THANE" target="_blank"><img src="{% static 'tpo/iconfinder_twitter_834708.png'%}" alt="Twitter"></a></div>
        <div class = "icons"><a href="https://www.linkedin.com/in/apsitthane/" target="_blank"><img src="{% static 'tpo/iconfinder_linkedin_386655.png'%}" alt="LinkedIn"></a></div>
      </div>
      <!-- <img class = "floatRight" src="APSIT.png" alt="APSIT-LOGO"> -->
    </header>

    <div class="containerFK-lti">

        <!--<div class = "marquee-lti"><marquee scrollamount="11">****** IMPORTANT NOTICE: DATE OF LTI CAMPUS DRIVES HAS BEEN SHIFTED TO 10 NOVEMBER. CANDIDATES WHO HAVE PREVIOUSLY REGISTERED HAVE TO REGISTER AGAIN. ******</marquee></div>-->
            <!--<div class = "marquee-lti">-->
            <!--    <p>IMPORTANT NOTICE: DATE OF LTI CAMPUS DRIVES HAS BEEN SHIFTED TO 9th AND 10th NOVEMBER. CANDIDATES WHO HAVE PREVIOUSLY REGISTERED HAVE TO REGISTER AGAIN.</p>-->
            <!--</div>-->

      <div class="FaisalKhan">
        <img  class = "faisalKhanjpg" src="{% static 'tpo/faisalsir.jpg'%}" alt="Faisal Khan">
        <p><a href="https://www.linkedin.com/in/faisalkhan143/" target="_blank"><span class = "makebold">Faisal Khan</span></a></p>
        <p> Head Placement Officer, APSIT</p>
        <p>Joint Secretary, MATPO</p>
        <!--<p>2020 Batch</p>-->
        <br>
        <!-- <img class = "apsitlogo" src="APSIT (1).png" alt="APSIT-LOGO"> -->
      </div>

    </div>

  <div class="backgroundContainer1">


    <div class="container1-lti" id = "formStart1">



        <img class = "companyLogolti" src="{% static 'tpo/wipro 400x400.png'%}" alt="capgemini">
        <!--<h2>Zycus Recruitment Drive for MU Graduates</h2>-->
        <h2>Interview Rounds only for those who have been shortlisted.<h2>
        <h2>Location:A.P.Shah Institute of Technology</h2>
        <!--<h3>Eligibility Criteria</h3>-->

    </div>

    <!--<div class="container">-->

    <!--  <div class="image1-lti">-->

    <!--    <img src="{% static 'tpo/cap1.PNG'%}" alt="">-->

    <!--  </div>-->

    <!--  <div class="image2-lti">-->

    <!--    <img src="{% static 'tpo/cap2.PNG'%}" alt="">-->

    <!--  </div>-->

    <!--</div>-->

    <div class="clear"></div>

    <div class="container2">


    <!--<iframe id = "googleForm" src="https://docs.google.com/forms/d/e/1FAIpQLSd4jmi7Kc0_rbMdGN8TtEMKxrJour1NG42t-n4NA-QuMmUrzQ/viewform?embedded=true" width="100%" height="5080" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" onload="window.parent.parent.scrollTo(0,0)">Loading…</iframe>-->
    <!--<iframe id = "googleForm" src="https://docs.google.com/forms/d/e/1FAIpQLSdUlg87h6A8uTc7X8QdH8BQKd1fZvaWUA7GpaXx7pnBdb3qdw/viewform?embedded=true" width="100%" height="3500" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" onload="window.parent.parent.scrollTo(0,0)">Loading…</iframe>-->
    </div>
<div class="rucontainer">
    <!--<div class="linkForm">-->
      <iframe align = "center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.3314021346278!2d72.96481011485429!3d19.267949286978105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bba2e15f6c7b%3A0x20e1357d640bef7e!2sA.%20P.%20Shah%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1567673295333!5m2!1sen!2sin" frameborder="0" allowfullscreen=""></iframe>
</div>
    <!--  <a href="#googleForm">Click To fill Form</a>-->

    <!--</div>-->

  </div>

  <footer id="footer">
    <p>&copy; Copyright <strong>TPO APSIT</strong>. All Rights Reserved</div>
    <p class = "credit">Designed by <a target = "_blank" href="https://in.linkedin.com/in/yash-sampat-9b89a7185?trk=people-guest_profile-result-card_result-card_full-click">Yash Sampat</a>, <a target = "_blank" href="https://in.linkedin.com/in/anujssmishra?trk=public_profile_browsemap_profile-result-card_result-card_full-click">Anuj Mishra</a>, and  <a target = "_blank" href="https://in.linkedin.com/in/vedant-mhatre-575838185?trk=people-guest_profile-result-card_result-card_full-click">  Vedant  Mhatre</a>
  </footer>

  </body>

</html>
